[2015-07-30 09:16] churkin opened #1 "Location wrapper returns case-sensitivity port, hostname and protocol in the href field (T272552)"
Proxied page - `http://localhost:1401/!2/http://Example.com/`.

`location.href` should returns `http://example.com` instead of `http://Example.com`

[2015-07-30 09:31] inikulin commented on #1
Is this behavior consistent across browsers? Can't find it in [URL spec] (https://url.spec.whatwg.org/#dom-urlutils-hostname) (`Location` interface is inherited from `URLUtils` per [living DOM spec]()https://html.spec.whatwg.org/multipage/browsers.html#location).

[2015-07-30 09:40] churkin commented on #1
Browser sends requests with host, port, protocol in the lower case

[2015-07-30 09:40] inikulin commented on #1
All browsers?

[2015-07-30 09:43] churkin commented on #1
I have checked IE, FF, Chrome

[2015-07-30 09:49] inikulin commented on #1
OK then

[2015-07-31 15:17] miherlosev opened #3 "Add the capability to process an iframe whose src attribute is set to an encoded value."
iframe.src = "javascript:'%3Chtml%3E%3Cbody%3E%3Ch1%3Etest%3C/h1%3E%3C/body%3E%3C/html%3E'"

Encoded attribute value will be applied for Safari 8, IE 11, Firefox,
not applied - Chrome 44

[2015-08-03 09:38] LavrovArtem opened #4 "Add the capability to determine the encoding of a resource by using Byte Order Mark (BOM)"
BOM is a Unicode character specifying encoding of a resource. Currently, these characters are not recognized when decoding the resource.
 
It is needed to add the capability to recognize the following BOMs:

| BOM           | Charset              |
| ------------- | -------------------- |
| FE FF         | Big-endian UTF-16    |
| FF FE         | Little-endian UTF-16 |
| EF BB BF      | UTF-8

[2015-08-03 09:40] inikulin commented on #4
That does this mean? Examples? Expected and actual behavior?

[2015-08-03 09:43] inikulin commented on #3
Can you provide code examples. Actual/expected? Check title with tech writers. It's not clear currently what's wrong and how it should be fixed.

[2015-08-03 09:54] LavrovArtem commented on #4
For example, if the resource has a BOM FF FE is its charset UTF-16, little-endian

[2015-08-03 13:03] inikulin opened #5 "v1.0"
I would like to see 1.0 plan. What is left to do? Can we have separate issues for each item marked with the milesone 1.0? What are farther steps in client refactoring? Which features of ES6 you gonna use?
We need to rename variables as well: new consts notation, new module names notation, etc.

[2015-08-03 13:03] inikulin commented on #5
\cc @churkin

[2015-08-03 13:37] churkin commented on #5
At the moment hammerhead is completely ready to integrate with the TestCafe, all tests are success
(instead of Health Monitor, @kirovboris is working on it).
I think we should continue to refactor hammerhead code in the background:

	... firstly more global changes

	1. Processing mechanism (separeate to different independent processors). Add tests.
	2. Client sandboxes (exclude 'sandboxes' entity

[2015-08-03 13:39] churkin commented on #5
First of all i want to focus on the structural changes

[2015-08-03 13:41] inikulin commented on #5
Ok, so let's create issue for each item with the detail description. So we can track progress.

[2015-08-04 07:41] churkin opened #6 "Add comments with warning to all client-server src files"
// WARNING: this file is used both by client and server.
// Do not use any browser or node specific API!

[2015-08-04 08:01] churkin opened #7 "Integrate health monitor with the git version of the hammerhead"
\cc @kirovboris @LavrovArtem

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

  - [x] Upload health monitor src to mercurial
  - [x] Create farm task
  - [x] Redesign control panel (add 'admin' mode for developers)
  - [x] Open public access to the control panel

[2015-08-04 08:31] churkin opened #8 "Investigate the expediency of using async/await on the client"
\cc @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

We need to check if we can use the async/await es7 feature and if it is worth using, or we should use promises instead.

[2015-08-04 08:48] inikulin opened #9 "Implement upload storage"
We should move upload storage from TestCafe to Hammerhead (in `src/upload`). Session should create it's storage instance with the provided `uploadsDir` and use it in the related service message handlers.

[2015-08-04 08:54] churkin opened #10 "ES6 features"
\cc @VasilyStrelyaev @LavrovArtem @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

- [ ] Use arrow functions
- [ ] Use classes instead of modules
- [ ] Rename constants in accordance with the new rules

[2015-08-04 08:59] inikulin opened #11 "Refactor dom-accessor-wrapper into separate entities and rename it to code-instrumentation."

[2015-08-04 09:06] inikulin opened #12 "Create js-processor modifiers filter based on node type."
Currently each modifier condition is called for each node in the AST (see: https://github.com/churkin/testcafe-hammerhead/blob/master/src/processing/js/modifiers.js). We can significantly reduce complexity of the modifier search if we split modifiers into the groups by node type. So using this kind of filter will reduce calls to `condition()`

[2015-08-04 09:08] churkin opened #13 "Hammerhead should generate error texts instead of codes"
\cc @LavrovArtem @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

When the hammerhead generates an exception it should transmits error text instead of error code.

[2015-08-04 09:12] churkin opened #14 "Add JSDoc API description"
\cc @VasilyStrelyaev  @LavrovArtem @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

For more details see https://github.com/jsdoc3/jsdoc.

[2015-08-04 09:12] inikulin opened #15 "Figure out why we need JSON processing. And remove it if it's unnecessary."
I've also seen a part of it in the `js-processor`

[2015-08-04 09:15] inikulin commented on #6
ref #5

[2015-08-04 09:17] inikulin commented on #9
ref #5

[2015-08-04 09:17] inikulin commented on #11
ref #5

[2015-08-04 09:17] inikulin commented on #12
ref #5

[2015-08-04 09:17] inikulin commented on #15
ref #5

[2015-08-04 09:37] churkin opened #16 "Refactor resource processing mechanism (js, css, page, manifest ...)"
\cc @LavrovArtem @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5
1. Separeate all to a different independent processors: dom, js, page, manifest, style...
2. Each of the processors should be self-sufficient entity

[2015-08-04 09:37] churkin opened #17 "Refactor the structure of the client sandboxes"
\cc @LavrovArtem @miherlosev

Based on https://github.com/superroma/testcafe-hammerhead/issues/5

- [ ] Exclude 'sandboxes' entity to the 'sandboxes.js' file
- [ ] Simplify dom sandbox to the node sandbox
- [ ] Make "sandboxes" entity a point of entry for all sandboxes
- [ ] Rename `sandboxes` to `sandbox`
- [ ] Get rid of `init` methods and use ctors instead
- [ ] Let main sandbox construct other

[2015-08-04 09:39] inikulin commented on #16
Related: #15, #12

[2015-08-04 09:40] inikulin commented on #17
We can just have `index.js` in the `client/sanboxes`

[2015-08-04 14:34] inikulin opened #18 "Create API which will provide infrastructure for the cross-lib interaction"
Think how hammerhead can be safely exposed to TestCafe scripts: provide non-enumerable window property which will contain all script getters (without setters). You can call it `app.js`. Each module will take it's reference of the app from the `window`.
E.g. in `test-cafe/ui.js`:

[code]
\cc @AlexanderMoskovkin

ref #5

[2015-08-04 14:38] inikulin commented on #18
...or, we can do it simply this way:

[code]

For the test cafe core:
[code]
etc.

I prefer this way, since we don't add any magic entities, and just make things simple and straightforward.

What do you think?

[2015-08-04 15:03] AlexanderMoskovkin commented on #18
The last way looks nice. We can start with it. We should use it in the hammerhead also.

But the `@moduleName@` naming looks not pretty for me.
[code]

Maybe something like `window.@moduleName` or anything else? Or it's ok?

[2015-08-04 15:36] AlexanderMoskovkin commented on #18
After a discussion with @inikulin @churkin  we've taken a decision:

`hammerhead` defines the property `window.[%testcafe%]` and it is used as a dictionary to share modules api, consts etc..

[2015-08-04 15:43] inikulin commented on #18
Important note: property should be defined as shown above (non-enumerable, etc.)

[2015-08-04 18:56] inikulin opened #19 "Setup client tests for all platforms"
We need to add Mac Safari, iOS Safari, Android browsers

[2015-08-04 18:57] inikulin commented on #19
ref #5

[2015-08-04 19:18] inikulin commented on #5
Closing it for now, since the progress can be tracked via Milestone-view: https://github.com/superroma/testcafe-hammerhead/milestones

(don't forget to add milestone to the newly created issues)

[2015-08-04 19:18] #5 closed

[2015-08-04 19:19] inikulin commented on #3
\ping @miherlosev

[2015-08-05 06:29] miherlosev commented on #3
If I set an iframe src attribute to 'javascript:<html><body><h1>test</h1></body></html>', its content
will be '<html><body><h1>test</h1></body></html>'.
Hammerhead patches src attributes for such iframes and adds the additional code.

Some browsers (Safari 8, IE 11, Firefox) allows setting an iframe content by using an encoded value.
For example, if I set
iframe.src to "javascript:'%3Chtml%3E%3Cbo

[2015-08-05 06:58] churkin commented on #19
@miherlosev is already working on this

[2015-08-05 08:07] churkin opened #20 "Refactor client url resolver"
Exclude url resolver from the url utils to the separate url-resolver.js file.

[2015-08-05 08:58] inikulin commented on #19
I just see that the code was fixed, but CI env was not setup for this platforms (also, I don't see mentions of the MacOS Safari). So I'll keep this issue open for now, till we'll not have this things done.

[2015-08-05 09:00] inikulin opened #21 "SauceLabs tests failing with the timeout without error"
We need to do two things here:
1)Extend timeout
2)Let gulp task fail if SauceLabs task timeouts.

\cc @AlexanderMoskovkin

[2015-08-05 09:12] churkin opened #22 "Update eslint version to 1.0.0"
We should update eslint version for using "qunit" env

[2015-08-05 09:15] inikulin commented on #22
Seems like we can do it already, since gulp-eslint 1.0 is already released.

[2015-08-05 09:19] churkin commented on #22
@inikulin  Yes, I have tried to quickly update but faced with new errors

[2015-08-05 09:27] inikulin commented on #22
We have eslint/eslint#3226 now. Waiting for fix. :weary:

[2015-08-05 09:38] churkin opened #23 "Create 'debug' and 'release' build options"
In the release mode we should uglify client scripts

[2015-08-05 11:19] kirovboris commented on #7
1, 2 - done
Statistics is here - http://66.55.147.18:1350/

[2015-08-06 07:44] churkin opened #24 "Get rid of 'async' in the qunit tests"

[2015-08-06 08:39] LavrovArtem commented on #4
BOM is a Unicode character specifying encoding of a resource. Currently, these characters are not recognized when decoding the resource.
 
It is needed to add the capability to recognize the following BOMs:

| BOM           | Charset              |
| ------------- | -------------------- |
| FE FF         | Big-endian UTF-16    |
| FF FE         | Little-endian UTF-16 |
| EF BB BF      | UTF-8

[2015-08-06 09:06] inikulin commented on #4
Nice! Great job, @LavrovArtem . But can we move all this to the head post of the issue instead of comment?

[2015-08-06 09:27] LavrovArtem commented on #4
@inikulin ok

[2015-08-07 09:30] inikulin commented on #4
Algorithm differs for the page resources (scripts, css). Please, research it as well.

[2015-08-07 12:11] inikulin opened #25 "Prepare NPM publish"
We need to publish it to NPM, so it can be used by TestCafe package. Fill required package.json fields: description, name, author, copyrights, version, main, files etc. We need to do that as ASAP.

[2015-08-07 13:52] #6 closed

[2015-08-07 18:07] inikulin opened #28 "Get rid of runSequence in Gulpfile"
Just mentioned what we use runSequence in the Gulpfile. Well, we shouldn't. Use task dependencies instead.

[2015-08-10 09:39] churkin opened #29 "Remove `es7.classProperties` from the code base."
https://github.com/superroma/testcafe-phoenix/issues/36

[2015-08-10 10:06] inikulin opened #31 "src/client/utils/service.js is misleading"
I think it has a really misleading name. If it's just a bunch of generic helper funcs then let's create separate files for them, like we do for the server code.

[2015-08-11 11:40] LavrovArtem opened #33 "JavaScript code in the onload attribute of the body tag is not processed"
This issue occurs when passing the HTML code below to the Html.processHtml function:
[code]

[2015-08-12 12:22] #9 closed

[2015-08-12 14:48] inikulin opened #35 "Testing infrastructure issues"
- [x] Sauce labs browser matrix shows state of the last test run (even if it was done in context of PR). We should show state of the last test run in the master branch of the upstream repo only.

- [x] We should include link to the SauceLabs test run into the Travis report.

- [x] Travis timeouts on long running SauceLabs tests (https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/jobs/752

[2015-08-12 14:49] inikulin opened #36 "Why we have a full mail.ru page in our tests?"
Remove it. Create simple reproduction example instead.

[2015-08-13 08:25] #36 closed

[2015-08-13 13:50] miherlosev commented on #19
\cc @inikulin
I think you can close issue.
Was added
IPhone (IOS 7.1), Mac Safari 8.0, IPad 8.1
Android 5.1 (Sauce labs not contains image for Android 5.0)

[2015-08-13 17:22] inikulin commented on #19
Ok. Great job though.

[2015-08-13 17:22] #19 closed

[2015-08-13 17:37] inikulin opened #39 "Get rid of `jobOwnerToken` and `jobUid` in the code in favor of `sessionId`"

[2015-08-14 11:41] #33 closed

[2015-08-14 12:45] #31 closed

[2015-08-17 11:54] #24 closed

[2015-08-17 12:24] miherlosev opened #42 "Detailed information about failed tests is not shown in Sauce labs 'JSUnit' tab"
![1](https://cloud.githubusercontent.com/assets/4133518/9304740/037c994e-44f4-11e5-967b-e6f9a04e36a5.png)

[2015-08-18 07:04] LavrovArtem opened #44 "IE11 throws an error when the second parameter of the Blob function is undefined"
The issue occurs because we override the Blob function. If the overridden function is called with one parameter, it calls the original function with two parameters where the second parameter is undefined.

[code]
Text of the error: "Could not complete the operation due to error 800a138f."

[2015-08-18 13:37] #21 closed

[2015-08-18 15:17] #44 closed

[2015-08-19 08:31] LavrovArtem opened #47 "The document.domain property is not processed"
Consider the following example:

[code]

[code]

If you open the original page at http://subdomain1.domain.com, the browser console remains empty.
If you open the same page through a proxy, the browser console displays the following error:
`Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://localhost:1401" from access

[2015-08-19 11:26] LavrovArtem commented on #4
Priority for the scripts:

1. BOM
2. Content-Type header
3. ```charset``` attribute
4. page charset

Priority is verified on а test page.

[2015-08-20 14:32] miherlosev commented on #8
async, await for client is a bad idea.

There is a function that look like as a real:
[code]
Rewrite using es7 syntax:
[code]

After bable's transformation we have a nonredable horror:
[code]

[2015-08-20 15:15] inikulin commented on #8
Actually it's quite readable, if you understand how it's turned into the state machine =) The main concern is the required runtime.

[2015-08-21 11:45] #23 closed

[2015-08-21 15:00] #28 closed

[2015-08-24 06:19] AlexanderMoskovkin commented on #35
fixed

[2015-08-24 06:28] AlexanderMoskovkin commented on #35
4) Sometimes the gulp-qunit-harness don't get the result of the last saucelabs task, so the travis task hangs for more maximum timeout (more the 2 hours) (https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/jobs/76457101)

5) It seems saucelabs can't create several tunnels in short time, so we have a problem when several pull requests are created at the same time. We should create tests q

[2015-08-24 06:58] AlexanderMoskovkin opened #53 "Move the test from the testcafe repo"
I've found the regression test in the testcafe repo that relatives to the testcafe-hammerhead, move it.

[code]

[2015-08-24 13:22] LavrovArtem opened #54 "The CanvasRenderingContext2D.drawImage function is overridden in a wrong way"
The function does not take into account that the first parameter can be not only an `<img>` element, but also a `<canvas>` or `<video>`. [Specification](https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-drawimage).

[2015-08-25 10:13] inikulin commented on #35
I think we should handle hangs and service interruptions. In this case we should just re-schedule test runs.

[2015-08-25 10:14] inikulin commented on #35
It would be nice to have this ASAP:

[2015-08-25 15:06] inikulin commented on #22
We can switch now. Things to do on switch:
1. Switch `curly` rule to the `multi-or-nest` mode and set warning level to `2`.
2. Remove conditional comments which disabled buggy `indent`.

See also: superroma/testcafe-phoenix#43

[2015-08-26 11:08] inikulin commented on #25
@churkin we need it ASAP

[2015-08-26 11:08] inikulin commented on #22
\cc @churkin @LavrovArtem

[2015-08-26 11:11] inikulin commented on #8
I think it's quite clear that `async/await` will bring an overhead to the source code.
**Conclusion:** use Promises. See #38 for details.

[2015-08-26 11:11] #8 closed

[2015-08-26 14:57] #13 closed

[2015-08-26 15:21] churkin opened #58 "Get rid of "origin" term in the code"

[2015-08-27 07:21] #54 closed

[2015-08-27 08:40] churkin commented on #25
@VasilyStrelyaev we need the documentation for the module

[2015-08-27 08:43] inikulin commented on #25
@churkin we can do it without docs. Regarding docs - setup jsdoc and document methods, it's a separate issue btw.

[2015-08-27 08:47] inikulin opened #59 "Fix error message problems"
1)Get rid of origin term in texts and remove mentions of proxy
2)Move message.js to the src/
3)We have an inconsistency currently: this errors are expected to be objects in testcafe, but they are strings (formatter, discuss with @kirovboris)

[2015-08-27 12:11] inikulin commented on #22
Guys, do it ASAP, it's not a big deal. I'm tired of reading long warnings in the build logs.

[2015-08-27 12:28] inikulin commented on #35
@AlexanderMoskovkin I've added checkboxes to the issues. Please, check those which are fixed, so we'll be able to track the state of the issue.

[2015-08-27 12:34] AlexanderMoskovkin commented on #35
nice

[2015-08-27 12:37] inikulin opened #62 "Refactor webauth, make it more suitable for our request worlkflow"
I think we should not make request from the `webauth` module and just keep there some helper methods for the authentication purposes. Currently request logic is broken in some cases with the webauth.

[2015-08-27 12:44] #25 closed

[2015-08-27 15:34] #22 closed

[2015-08-28 09:27] kirovboris commented on #59
I think we mustn't use xml format in hammerhead errors.
Should hammerhead return the error object like test runner? Something like:

[code]
in templates.js:
[code]

[2015-08-28 10:26] inikulin commented on #59
@kirovboris I'm not quite happy with this approach, which we had before. It would be to simplify errors as much as possible (package should throw error or emit `error` event). So, in `TestRun` in `handlePageError` and create new object where, e.g.:
[code]
Doing so, we will not need to expose error types from the hammerhead. @churkin @kirovboris Let me know that do you think?

[2015-08-28 10:27] kirovboris commented on #59
Thanks, I agree with it.

[2015-08-28 10:28] helen-dikareva opened #64 "A service message will not be sent from iframe if it is removed afterwards"
A service message will not be sent from iframe if it is removed afterwards
Our on-farm functional tests in the default branch fail in Chrome due to this error.

1) in the latest version of Chrome, the timeout is reset (even the window.top timeout that was set after the iframe was unloaded)
sendServiceMsg method:
[code]
2)  in IE, a parse error is raised after the iframe is removed
[code]
Regressio

[2015-08-28 11:06] inikulin commented on #59
@kirovboris I think links is the only thing that we should decorate. I'm ok with the markdown decorator's auto-hyperlinks (but we need special handler in decorator, which will be run on the whole content after the tags processing).

[2015-08-28 14:07] #59 closed

[2015-08-28 14:18] inikulin opened #68 "Get rid of shared const."
Split `const.js` into the semantically separated groups of constants and put them in the appropriate places. Remove shared const term from the code BTW. As an addition: rename `service-msg-cmd` to `commands` (like with `test-run` in testcafe package) and move it to the `/session` dir with the `session.js` and `cookie.js` (`session.js` being an `index.js` there).

[2015-08-31 10:31] #39 closed

[2015-08-31 15:31] inikulin opened #69 "Web platform tests integration"
I think we should run proxied [web platform tests](https://github.com/w3c/web-platform-tests) as an addition to the main test suite. This will definitely will help us reveal problematic areas in the hammerhead.

[2015-09-01 08:35] inikulin commented on #42
\cc @AlexanderMoskovkin

[2015-09-01 10:39] AlexanderMoskovkin commented on #42
I'll fix it soon

[2015-09-01 12:58] #11 closed

[2015-09-02 14:07] AndreyBelym opened #74 "Review rules after upgrading eslint to 1.x"
From [Migrating to 1.0.0](http://eslint.org/docs/user-guide/migrating-to-1.0.0.html):
The most important difference in v1.0.0 is that all rules are off by default. When using --init, your configuration file will automatically include the following line:
[code]
This setting mimics some of the default behavior from 0.x, but not all.
These rules are no longer on by default, so you should review your

[2015-09-03 10:58] AlexanderMoskovkin commented on #42
Fixed in the qunit-harness@0.1.21

[2015-09-03 10:58] #42 closed

[2015-09-03 13:23] AlexanderMoskovkin commented on #35
I've fixed the issues. It seems that testing infrastructure became more stable.
As I understand there are some unstable things on the saucelabs side. I've handled it in the qunit-harness module.
So, I close the issue.

[2015-09-03 13:23] #35 closed

[2015-09-03 14:48] miherlosev commented on #7
## mockups for 'Health Monitor' pages
Welcome screen
![1_welcomescreen](https://cloud.githubusercontent.com/assets/4133518/9661500/a95b3c36-5263-11e5-950b-51629d149d4a.png)

Login popup
![3_loginscreenpopup](https://cloud.githubusercontent.com/assets/4133518/9661501/a962a4e4-5263-11e5-8f6d-662366049232.png)

Url list
![4_urllist_new](https://cloud.githubusercontent.com/assets/4133518/9661502/a96af

[2015-09-04 12:51] AlexanderMoskovkin opened #78 "Add Util.Types to client API"
The `Util.DOM.isDocumentInstance` function was moved to the `src/client/utils/types.js` file in the https://github.com/superroma/testcafe-hammerhead/commit/1a4ee1bf4f601d2365cbe035367bc88a19c7726b commit. But `types` utils were not published in the Hammerhead public API. So, it's a breaking change.

[2015-09-04 15:35] AlexanderMoskovkin opened #80 "Hammerhead.wrapDomAccessors doesn't work"
You can see the problem in the following server test:
[code]

It fails in the `processing\js\index.js` file in the `process` method because of incorrect context (`this.isJSON(code);`)

[2015-09-07 08:15] #78 closed

[2015-09-08 11:28] AlexanderMoskovkin opened #82 "The "Illegal invocation" error after svg element focused"
The issue is reproduced in Google Chrome version >=45 only.

Add the following markup on the page:
[code]

**Expected**: the `alert` dialog with text `"rect"`
**Actual in the hammerhead playground**: the `Uncaught TypeError: Illegal invocation` error

In fact the error appears because of the following:
[code]

[2015-09-08 13:50] #74 closed

[2015-09-09 10:11] #82 closed

[2015-09-10 08:00] churkin commented on #15
B237743. Vestiges of the past.

[2015-09-10 10:39] #17 closed

[2015-09-11 10:49] AlexanderMoskovkin opened #86 "The messageSandbox pingIFrame function doesn't work"
The issue appeared in the https://github.com/superroma/testcafe-hammerhead/commit/67d00b7a7de729cf84cbb889e363a9bac644d703 commit

Look at the [`pingIFrame` function](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/sandbox/message.js#L180)

There are `pingInterval, pingTimeout` vars and `this.pingInterval, this.pingTimeout` members. We should stay one of these.
Now you call

[2015-09-11 11:24] AlexanderMoskovkin opened #87 "Add a xhrSandbox test"
I've found the test that relates to hammerhead:

[code]

[2015-09-11 11:50] AlexanderMoskovkin opened #88 "Fix type after refactoring in client/sandbox/code-instrumentation/location/wrapper.js"
`var getProxiedHref = href => UrlUtil.getProxyUrl(href, null, null, null, null, resourceType);`
should be changed to
`var getProxiedHref = href => UrlUtil.getProxyUrl(href, null, null, null, resourceType);`

(https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/sandbox/code-instrumentation/location/wrapper.js#L9)

[2015-09-14 07:47] AlexanderMoskovkin opened #89 "The Proxy.close() function doesn't close http connections immediately"
As a result after the following code
[code]
the proxy1 connections are still available but proxy2 connections are not.

The cause of the problem in the `http` module (see [here](http://stackoverflow.com/questions/18874689/force-close-all-connections-in-a-node-js-http-server) and [here](http://stackoverflow.com/questions/14626636/how-do-i-shutdown-a-node-js-https-server-immediately)).

Simple examp

[2015-09-14 12:47] #89 closed

[2015-09-14 13:43] #88 closed

[2015-09-15 10:29] churkin opened #93 "Prepare code comments"

[2015-09-15 11:05] miherlosev commented on #7
New version of the 'Control Panel' avalible on 'http://66.55.147.18:13500'

[2015-09-15 11:07] miherlosev commented on #7
I think we can share 'Control Panel' on 'http://hh.testcafe.devexpress.com'

[2015-09-15 12:15] inikulin opened #94 "Rename `src/client/dom-processor/dom-processor.js` to the `src/client/dom-processor/index.js`"
And require it as `./dom-processor` in client sources.

[2015-09-15 12:20] inikulin opened #95 "Consider extending EventEmitter in sources"
Currently we use `EventEmitter` as class field with the wrapped methods, e.g.: https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/sandbox/base.js

I think we should extend `EventEmitter` in this cases instead.
\cc @AlexanderMoskovkin I think we need to do this is `testcafe` as well.

BTW currently `src/client/utils/event-emitter` using ES5 syntax, use ES6 classes instead (revi

[2015-09-15 12:27] inikulin commented on #15
What about https://github.com/superroma/testcafe-hammerhead/blob/master/src/processing/js/index.js#L130 ?

[2015-09-15 12:33] AlexanderMoskovkin commented on #95
I agree. Should we use the `EventEmitter` class from `hammerhead` api or implement it in `testcafe`?

[2015-09-15 12:33] inikulin commented on #95
@AlexanderMoskovkin yep

[2015-09-15 12:51] miherlosev opened #96 "Script error: Uncaught TypeError: _shadowUi.onBodyElementMutation is not a function"
The following code produces the script error  - 'Uncaught TypeError: _shadowUi.onBodyElementMutation is not a function'

[code]

[2015-09-15 12:53] inikulin opened #97 "Get rid of `whacko` and use `parse5` with the `default` tree adapter instead"

[2015-09-15 15:21] #87 closed

[2015-09-15 15:55] AlexanderMoskovkin opened #100 "Hammerhead should remove service data from local storage on the first session page load"
The client `Transport` module saves failed service messages to the localStorage and resend them on the next page load. The localStorage key is the session ID.
We have a problem with the following situation:
1) Start the app and create a hammerhead `Session` (with `id` = 1)
2) Some service message was stored
3) The application process was finished (the next page load did not occur)
4) Start a new a

[2015-09-15 20:15] inikulin opened #101 "Provide better mechanism for the sandbox dependencies graph"
Currently we use main sandbox as the hub which is passed to all other sandboxes. This may cause initialization errors if the order is not preserved. Pass sandbox dependencies to the ctors instead.

[2015-09-15 20:18] inikulin commented on #93
What does this mean?

[2015-09-15 21:01] inikulin opened #102 "Add node v4 test configuration"

[2015-09-16 09:24] inikulin commented on #10
Check server code as well, we have old style constants in some places.

[2015-09-16 11:54] #80 closed

[2015-09-16 12:34] #86 closed

[2015-09-16 12:57] inikulin opened #104 "Reorganize client templates"
- Rename `client/hammerhead.js` to `client/index.js`
- Move files from `client/templates` to `client/`
- Rename `index.js.wrapper.mustache`

[2015-09-16 13:00] inikulin opened #105 "Prevent caching for JSON responses in http utils"

[2015-09-16 14:58] #96 closed

[2015-09-17 09:45] miherlosev opened #107 "document.referrer returns 'undefined'"
Page to reproduce:
[code]
Steps to reproduce:
1)open page in browser
2)click link

Test page displays the correct url without proxing. It is expected result.
Test page displays 'undefined' under proxing. It is wrong result.

[2015-09-17 09:55] churkin opened #108 "Replace callback-based async funcs with promises"

[2015-09-17 11:13] AlexanderMoskovkin opened #109 "Add tests for XhrSandbox"
We should move some tests for `XhrSandbox` from the `TestCafe` project to the `Hammerhead`.  `xhrBarrier` is used in this tests, but just `XhrSandbox` functionality is tested, so we should get rid of `xhtBarrier` here

[code]

[2015-09-17 12:14] #107 closed

[2015-09-17 13:48] churkin opened #111 "Get all constant values to a identical type"

[2015-09-17 13:52] churkin opened #112 "Transform instance-level constants to the ctor properties"
`constructor () {`
`this.UNCAUGHT_JS_ERROR = 'uncaughtJSError';`

to

`WindowSandbox.UNCAUGHT_JS_ERROR_EVENT = 'uncaughtJSError';`

[2015-09-17 13:59] churkin opened #113 "Use the native XMLHttpRequest instead of a SERVICE_MSG_REQUEST_FLAG flag mechanism"
@inikulin wrote:

[2015-09-17 14:15] inikulin commented on #112
It's will be not in proto in this case, but in ctor. I'll edit the title

[2015-09-17 14:27] inikulin commented on #111
For the context:
I think we need some common pattern for all our DOM-integrated constants, with some naming convention with clear names, because currently it's pretty random and not clear. I think we can do it in separate PR after v1.0, can you fill the issue pls?

[2015-09-17 14:29] inikulin commented on #111
E.g., turn this
[code]
into
[code]

[2015-09-17 14:44] miherlosev opened #114 "javascript error for cross domain iframe that contains iframe without src="javascript: void(0);""
Files to reproduce:
### index.js
[code]
### index.html
[code]

### iframe.html
[code]

It is browser specific problem:
1)In Chrome 45.0.2454.93:
Uncaught SecurityError: Failed to read the 'frame' property from 'Window': Blocked a frame with origin "http://localhost:1402" from accessing a frame with origin "http://localhost:1401". Protocols, domains, and ports must match.
2)In Firefox 40.0.3:
TypeE

[2015-09-18 09:13] churkin opened #115 "How uploading works on the Linux/MacOS platforms?"
In the Hammerhead we are using windows-specific code:

`const FAKE_PATH_STRING         = 'C:\\fakepath\\';`

We should investigate how it works on other platforms.

[2015-09-18 12:40] churkin opened #116 "Use three-character unique value as a session id"

[2015-09-18 13:00] inikulin commented on #116
This is needed to prevent destination resource caching

[2015-09-18 14:21] churkin opened #117 "Move Hammerhead creation to the task script"
We should create and initialize hammerhead in the one place - in the task script.

[2015-09-18 14:26] #117 closed

[2015-09-18 15:20] #10 closed

[2015-09-19 11:47] inikulin opened #118 "Create badge for the Health Monitor like we have for Travis"

[2015-09-21 08:00] #104 closed

[2015-09-21 11:41] #116 closed

[2015-09-22 15:38] churkin opened #122 "Use separate headers instead of binary flags in the xhr sandbox"

[2015-09-23 13:35] #53 closed

[2015-09-24 10:18] miherlosev opened #125 "Script error then proxing specified nested iframes (window -> iframe.src=javascriptProtocol -> iframe.src=about:blank)"
We have the following page structure:
window -> iframe.src=javascriptProtocol -> iframe.src=about:blank
Open page in playground and go to browser console.
There is the script error: 'Uncaught TypeError: iframe.contentWindow[_const.DOM_SANDBOX_OVERRIDE_DOM_METHOD_NAME] is not a function'

Page to reproduce:
[code]

[2015-09-24 14:34] miherlosev opened #127 "'almond' AMD module loader crashes jsParsingTools module inside Iframe without src"
'almond' AMD module loader - https://github.com/jrburke/almond

Page for reproduce without 'almond':
[code]

After opening page in playground I get the script error:
'Uncaught TypeError: Cannot read property 'parse' of undefined'

[2015-09-24 15:07] inikulin commented on #93
ping @churkin

[2015-09-24 15:09] inikulin commented on #1
fixed via 76d52329aa79b460df3f46288fdb21cfa16d4df2

[2015-09-24 15:09] #1 closed

[2015-09-24 15:14] inikulin commented on #115
\cc @LavrovArtem

[2015-09-25 08:39] churkin commented on #93
Check comments with the correctors

[2015-09-25 08:49] churkin commented on #93
Progress: https://docs.google.com/document/d/1x2a0qhRIZyEKFMo2MwaueNYoqvWwrSKf1olsyJQPHsY/edit

[2015-09-25 08:56] LavrovArtem commented on #115
http://www.w3schools.com/jsref/prop_fileupload_value.asp

[2015-09-25 09:41] inikulin commented on #115
@LavrovArtem How it's related?

[2015-09-25 09:42] inikulin commented on #115
The question is why we have `FAKE_PATH_STRING`, how it used and why it equals to the Windows-specific path?

[2015-09-25 09:53] AlexanderMoskovkin opened #129 "Implement API to add a ShadowUI suffix to css rules for the injectable stylesheets"
Hammehread should have API to process css files (add a suffix to css rules).

It's necessary to fix the https://github.com/superroma/testcafe-phoenix/issues/54 issue

[2015-09-25 09:59] inikulin commented on #129
Actually, it shouldn't have any specific API. It should automatically process and cache session's `injectable` stylesheets.

[2015-09-25 10:06] inikulin commented on #129
It can be done via `isShadowUIStylesheet` flag, which passed to the router on the resource registration (see: https://github.com/superroma/testcafe-hammerhead/blob/master/src/proxy.js#L71). Then move logic what will modify CSS to the `src/shadow-ui` dir. We can put shadowUI [related constants](https://github.com/superroma/testcafe-hammerhead/blob/master/src/const.js#L25)  to the separate file in t

[2015-09-25 10:10] LavrovArtem commented on #115
http://dev.w3.org/html5/spec-preview/common-input-element-apis.html#common-input-element-apis

[2015-09-25 10:15] inikulin commented on #115
Lol, I see now. BTW use WHATWG HTML and Living DOM specs instead of W3C's.
Can we include the comment in the code with the link to https://html.spec.whatwg.org/multipage/forms.html#fakepath-srsly ? This will make situation much cleaner.

[2015-09-25 10:18] LavrovArtem commented on #115
Yes of course

[2015-09-25 12:31] inikulin opened #130 "module.exports in client code"
https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/utils/browser.js#L37 - I'm not sure if this works. Anyway, we should get rid of this approach, which replaces exports.

[2015-09-25 12:39] inikulin opened #131 "Environment settings are not handled correctly by eslint"
This is due to eslint/eslint#3915. Updates eslint once it's get resolved

[2015-09-25 12:47] inikulin commented on #130
Well, it's kinda works - webmake passes require to module. However, it's not ES6 syntax compatible and we shouldn't use it in our code (except for `require` in `index.js` for testing purposes, but we still need comment which describes this behavior where).

[2015-09-25 13:36] VasilyStrelyaev commented on #93
Completed (disregard notes in the document - I swear it's completed)

[2015-09-25 13:40] VasilyStrelyaev commented on #93
@MargaritaLoseva, could you pls grant Andrew the right to accept changes. I think this way it would be more convenient for him to apply our corrections

[2015-09-25 13:48] VasilyStrelyaev commented on #93
Oh, it's not your document, it's Andrew's... sorry

[2015-09-25 13:58] miherlosev opened #133 "Wrong proxing window.onmessage event handler if it has 'object' type"
Page for reproduce:
[code]

Open page in playground and click 'Send message' button.
In console we've got a script error:
'Uncaught TypeError: originListener.call is not a function'

[2015-09-28 07:18] inikulin commented on #69
Docs: http://testthewebforward.org

[2015-09-28 08:47] #7 closed

[2015-09-28 09:02] miherlosev commented on #118
Badge mockup
![hh_badge_mockup](https://cloud.githubusercontent.com/assets/4133518/10131418/c53806d6-65d8-11e5-933a-28f06b3a3629.png)

[2015-09-28 09:08] LavrovArtem commented on #118
I think that Events and Resources aren't necessery.

[2015-09-28 09:11] inikulin commented on #118
I think we need just one badge with the most important information:
1.Relative load event time
2.Number of errors

Task should fail if error rate increases for 10% and if performance degrades. Bot should automatically fill an issue in case of regression (\cc @AlexanderMoskovkin )

[2015-09-28 09:19] miherlosev commented on #118
see updated badge:
![updated_hh_badge](https://cloud.githubusercontent.com/assets/4133518/10131717/0812bac6-65db-11e5-94cc-97ead7f6a3ae.png)

[2015-09-28 09:19] inikulin opened #135 "Replacement-based JS instrumentation"
What if we'll modify our code instrumentation, so it will not regenerate whole AST, but just chunks what we need to replace:

1. Parse JS with the node location info
2. Find nodes which we need to modify
3. Modify node and instantly generate JS code for it, when using location info replace substrings in the source code.

Pros:
- Performance. Code generation is a bottle neck in the whole mechanism,

[2015-09-28 09:22] inikulin commented on #118
I'd prefer to have two badges instead of one if they will have separate statuses (one for error and one for performance). It would be nice to have current limit for the errors as well.

[2015-09-28 09:27] miherlosev commented on #118
![0812bac6-65db-11e5-94cc-97ead7f6a3ae](https://cloud.githubusercontent.com/assets/4133518/10131906/38655d68-65dc-11e5-809c-33c7d37c69d2.png)

[2015-09-28 11:17] #4 closed

[2015-09-28 13:02] #115 closed

[2015-09-28 15:18] miherlosev opened #136 "Fix unstable qunit tests using "quarantine" mechanism in quint-harness"
see builds:
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/82572486
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/82124455
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/82108151
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/jobs/84298914
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/84291375

see

[2015-09-28 15:26] inikulin commented on #136
@miherlosev  Please, refer the discussion and add more info to the title and description. Hint: we should fix it using "quarantine" mechanism in quint-harness

[2015-09-29 07:39] miherlosev opened #137 "Add stack trace information for failed tests"
QUnit contains stack trace information:
![1](https://cloud.githubusercontent.com/assets/4133518/10157760/b35dda22-6695-11e5-83af-e238e339e85e.png)

Sauce Labs doesn't contain this information:
![1](https://cloud.githubusercontent.com/assets/4133518/10157752/980415d4-6695-11e5-8572-1b25403f1b5b.png)

[2015-09-29 08:08] #133 closed

[2015-09-29 09:12] churkin commented on #112
We decided not to implement it because of the inconvenience of use

[2015-09-29 09:12] #112 closed

[2015-09-29 09:38] #127 closed

[2015-09-29 12:17] miherlosev commented on #118
Badge with real data (see markdown)
/cc @inikulin @churkin

[![Hammerhead Health Monitor](http://testcafedemo.devexpress.com:13500/badge/last-commit.svg)](http://testcafedemo.devexpress.com:13500)

[2015-09-29 12:34] #111 closed

[2015-09-29 12:37] inikulin commented on #118
@miherlosev I like the information, but we need better visual design. Let's ping our designer

[2015-09-29 12:44] churkin commented on #118
1. '35 errors' --> '35 sites with errors'
2. Maybe something like 'Slowing down page load: 1,24x (limit - 1.40x)' ?

[2015-09-29 13:13] inikulin commented on #118
@churkin I like it as is, this should have max information within minimum space
\cc @VasilyStrelyaev

[2015-09-29 13:29] inikulin opened #139 "Enable `master` branch protection once we move to the organization repo"
https://help.github.com/articles/about-protected-branches/

[2015-09-29 13:37] churkin commented on #118
@inikulin what does `1.24` mean? seconds? minutes? I would not understand.

[2015-09-29 13:45] VasilyStrelyaev commented on #118
I would go with:
Sites: 35 errors (limit: 21)
Page load: 1.24x (limit: 1.40x)

[2015-09-29 13:51] inikulin commented on #118
@VasilyStrelyaev factor sign always goes before value, e.g.: `x1.24 `

[2015-09-29 13:55] VasilyStrelyaev commented on #118
dunno, speed is kind of 1.5x, 2x, ...

[2015-09-29 13:55] VasilyStrelyaev commented on #118
in our case, it's probably clearer to use x1.24

[2015-09-29 14:01] inikulin commented on #118
@miherlosev BTW we can remove `Hammerhead` from the badge title, so it will be just `Health Monitor`

[2015-09-29 14:32] miherlosev commented on #118
Yes

Final text:
Health Monitor
Commit: 93cbf61 (September 28, 13:52:48)
Sites: 35 errors (limit: 21)
Page load: 1.24x (limit: 1.40x)

[2015-09-29 14:41] inikulin commented on #118
@miherlosev Should be:
[code]

[2015-09-29 14:53] miherlosev commented on #118
Updated badge:
[![Hammerhead Health Monitor](http://testcafedemo.devexpress.com:13500/badge/last-commit.svg)](http://testcafedemo.devexpress.com:13500)

[2015-09-30 08:32] #102 closed

[2015-09-30 08:50] miherlosev commented on #118
GitHub proxies all non-https images (our badge goes over http) - https://github.com/blog/1766-proxying-user-images.
I've asked the GutHub support team (https://github.com/contact) if we can create a badge that goes over http.
I've discussed a badge design with the designer. He promises to create the badge today.

[2015-09-30 13:18] #95 closed

[2015-09-30 15:42] AndreyBelym opened #147 "Upload dialog shows up in MS Edge"
After recording test with upload in MS Edge on DevExtreme [Filemanager Demo Page]( http://demos.devexpress.com/ASPxFileManagerAndUploadDemos/FileManager/Features.aspx) file select dialog shows up when executing step clicking on file choose button.

[2015-10-01 07:07] #109 closed

[2015-10-01 11:41] AlexanderMoskovkin opened #148 "Static ShadowUI functions don't available via hammerhead api"
TestCafe uses `addClass` and `removeClass`, they are not available now via api.
This issue stops https://github.com/superroma/testcafe-phoenix/issues/44

[2015-10-01 11:45] AlexanderMoskovkin opened #149 "Selection sandbox doesn't work properly"
`Selection` sandbox depends on `FocusBlurSandbox` but the instance of `FocusBlurSandbox` is `null` when `EventSandbox` creates the instance of `Selection` sandbox

The issue stops https://github.com/superroma/testcafe-phoenix/issues/44

[2015-10-01 12:21] AlexanderMoskovkin opened #150 "EventSandbox.focus function doesn't call the callback"
when you try to focus some element and the current active element is an input element in an iframe.

Cause: incorrect `this` usage [here](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/sandbox/event/focus-blur.js#L308)

[2015-10-01 13:06] miherlosev opened #151 "Check specified scenario on pre-release version"
Step to reproduce:
1)Open page http://js.devexpress.com/Demos/WidgetsGallery/#lite/data_grid-columns-column_customization in playground in IE11.
2)Click 'Column Chooser' button
3)Close 'Column Chooser' dialog

There must be no script errors.

Wait for https://github.com/superroma/testcafe-phoenix/issues/44

[2015-10-01 14:23] miherlosev commented on #118
GitHub Support Team answear:
Re: Aggresive caching badge over http protocol
Hi,

No, you cannot disable our Camo image proxy. We documented the full details of how it works here:

https://help.github.com/articles/why-do-my-images-have-strange-urls

[2015-10-01 14:28] inikulin commented on #118
So, we need to serve it over https, right?

[2015-10-01 14:32] miherlosev commented on #118
Yes.
I am trying to use self-signed sertificate.
But it causes 'ERR_CERT_AUTHORITY_INVALID'
To reproduce - https://testcafedemo.devexpress.com:13501/badge/last-commit.svg.

[2015-10-01 14:38] inikulin commented on #148
@AlexanderMoskovkin and everyone: Let's not use documentation requirement and modification level labels **while issue is open**. We will not pollute issue with yet unused labels and it's not always clear until the issue is not fixed if it requires documentation or major version bump. It's better to perform this analysis afterwards.

[2015-10-01 14:40] inikulin commented on #118
Ask internal team guys, maybe we can use our cert somehow to serve it

[2015-10-01 14:42] miherlosev commented on #118
Ok

[2015-10-01 15:26] miherlosev commented on #118
Badge design: ![health-monitor](https://cloud.githubusercontent.com/assets/4133518/10225104/d1f09eae-6869-11e5-85d5-fed4415555c6.png)

[2015-10-01 16:25] inikulin commented on #118
Looks fine, kinda...

[2015-10-02 07:47] miherlosev commented on #118
Internal team guys say that domain 'testcafedemo.devexpress.com' will be moved to https (as all other public sites)

[2015-10-02 08:32] inikulin commented on #118
@miherlosev Can we move just our health monitor domain to https? Keeping site on 80th port (testcafedemo.devexpress.com) with http protocol?

[2015-10-02 08:36] inikulin commented on #149
@churkin I believe we will find more issues like this. The best solution will be #101 implementation.

[2015-10-02 09:10] #122 closed

[2015-10-02 09:23] miherlosev commented on #118
HealthMonitor will be avalible on separate domain - 'https://testcafe-hhhm.devexpress.com'

[2015-10-02 10:06] inikulin opened #153 "Variable naming issues in test code"
QUnit tests still uses old naming notation, e.g. upper case names for non-ctors.

[2015-10-02 11:39] miherlosev opened #155 "Add support for multiple ShadowUI stylesheets"
see https://github.com/superroma/testcafe-hammerhead/pull/154

[2015-10-02 13:19] miherlosev commented on #118
Final badge:
[![Hammerhead Health Monitor](https://testcafe-hhhm.devexpress.com/badge/last-commit.svg)](http://https://testcafe-hhhm.devexpress.com)

[2015-10-02 13:21] inikulin commented on #118
It has wrong URL and can we change the font?

[2015-10-02 13:38] miherlosev commented on #118
Font and wrong url were fixed

[2015-10-02 13:52] #148 closed

[2015-10-02 13:52] #149 closed

[2015-10-02 13:52] #150 closed

[2015-10-02 13:53] #118 closed

[2015-10-05 08:45] #100 closed

[2015-10-05 09:37] inikulin opened #158 "QUnit tests for style utils fails in MacOS Chrome"
Surprisingly, MacOS Chrome differs from the Windows version and style tests fail there (I assume what it is related to the drawing differences). Let's add Chrome and Firefox MacOS browsers to the SauceLabs browse matrix. \cc @churkin @miherlosev We need to do this for testcafe as well \cc @AlexanderMoskovkin

[2015-10-05 11:16] LavrovArtem opened #159 "The URL attribute is set to an empty string on the client for the second time (T295078)"
That's why Firefox reloads the iframe and removes Hammerhead from it.

The Firefox scenario:

* an iframe without a src is being processed on the server
[code]
* ```window.Hammerhead``` is initialized in the iframe on the client
* ```src``` is again set to an empty string on the client
* the iframe is reloaded (i.e. ```window.Hammerhead``` is removed)
* finally, we try to execute the task script w

[2015-10-05 12:13] miherlosev opened #160 "Add default timeout for QUnit tests"
https://api.qunitjs.com/QUnit.config/

[2015-10-05 12:52] AndreyBelym opened #164 "Use `es6-promisify` instead of our own promisify implementation"
Note on `es6-promisify`: there is a difference between it and `Promise.denodeify` (and our own `promisify` implementation).

If node-style function has callback with conventional  two arguments `(error, data)`, everything is identical: Promises returned from both `es6-promisify` and `Promise.denodeify` resolve `data`, and reject `error`. But if callback is called with more arguments, like callback

[2015-10-05 14:10] churkin opened #165 "Stop using sourcemaps"

[2015-10-05 15:21] inikulin commented on #153
Same issue in `src/utils/url`

[2015-10-05 15:23] inikulin opened #166 "Refactor URL utils"
Separate proxy-url independent methods and keep them in `src/utils/url`. Move proxy-related methods to `src/proxy/url`

[2015-10-06 08:03] #160 closed

[2015-10-06 09:58] miherlosev opened #168 "Support 'beforeUnload' event added via 'addEventListener'"
Event listener can have 'object' type.
see issue - https://github.com/superroma/testcafe-hammerhead/issues/133

1)UnloadSandbox._onBeforeUnloadHandler
Reproduce in IE11, Safari. Need to check in all browsers.
Code for reproduce:

[code]

[2015-10-06 10:00] inikulin commented on #168
@miherlosev Why it's proposal state? If it's a possible bug-maker we should mark it as a bug.

[2015-10-06 13:48] #159 closed

[2015-10-06 14:16] #130 closed

[2015-10-06 14:19] inikulin commented on #130
We have a breaking change introduced: `browserUtils.isMozilla` -> `browserUtils.isFirefox`. @churkin Please, publish updated version. @AlexanderMoskovkin switch testcafe to this version taking in consideration BC.

[2015-10-07 08:02] churkin commented on #130
I suggest to accumulate a few important fixes before publication

[2015-10-07 08:33] inikulin commented on #130
@churkin Ok, can you create milestone for the release and mark related issues?

[2015-10-07 10:57] AlexanderMoskovkin opened #171 "Focus-blur sandbox QUnit test doesn't work in Safari"
I've found a `hammerhead`-related qunit test in the `testcafe-phoenix` repo and it fails in Safari now.
We should move it to the `testcafe-hammerhead` and fix it.

The test title contains the 'on recording' string, but the problem was not related to `recorder` but to `hammerhead`.

[code]

//data/focus-blur-sandbox/iframe.html
[code]

The `ok(!errorRaised, 'error is not raised');` assertion is suc

[2015-10-07 15:18] #165 closed

[2015-10-08 06:00] miherlosev opened #177 "Remove public functions used only for tests"
for example - MessageSandbox.setPingIFrameTimeout

[2015-10-08 11:07] churkin commented on #171
Safari does not allows to work with the contentWindow after iframe removing

[2015-10-08 11:54] #101 closed

[2015-10-08 13:28] miherlosev opened #179 "Need to refactror FocusBlurSandbox"
Problem places:
1)Nested calls for __raiseEvent
2)Large methods
3)'Callback' parameter of focus, blur methods uses only for tests

[2015-10-09 14:33] AlexanderMoskovkin commented on #137
fixed in qunit-harness

[2015-10-09 14:33] #137 closed

[2015-10-09 15:40] #108 closed

[2015-10-10 08:40] inikulin opened #182 "Significantly increased error rate according to health monitor"

[2015-10-12 07:29] miherlosev commented on #164
`es6-promisify` initially trying to use native Promise.
see https://github.com/digitaldesignlabs/es6-promisify/blob/master/lib/promise.js.
In node 0.10 `es6-promisify` will be use `es6-promise`, for node version >= 0.12 it will be use native Promise. It is not consistent.
I think we should not use `es6-promisify` implementation.
If we need support callback with more than two parameters I can impro

[2015-10-12 08:19] inikulin commented on #164
It's completely OK. The only reason we use es6 promise on servers side is because of node 10

[2015-10-12 08:52] miherlosev commented on #164
Ok. Then we should to use Promise on client side if possibe.
Chrome, FF, MSEge has a Promise support.

[2015-10-12 09:34] inikulin commented on #164
@miherlosev No, we shouldn't. It can polyfilled or replaced by testable page (the same reasons why we don't use native JSON).

[2015-10-12 10:29] #29 closed

[2015-10-12 11:44] LavrovArtem opened #183 "The script header should be removed when the script is requested by the client script (T296958)"
We need to process all the ways to get code from the script tag: ```text```, ```textContent```, ```innerHTML``` and ```innerText```.

[2015-10-12 11:55] inikulin commented on #183
**NOTE:** `innerText` is not spec compliant and not provided by all browsers. Take it in the consideration.

[2015-10-12 13:01] miherlosev opened #184 "Hammerhead must be initialized in iframe synchoronously"
Content for reproduce:
### index.html
[code]

### iframe.html
[code]

[2015-10-13 07:39] #164 closed

[2015-10-13 09:34] #184 closed

[2015-10-13 11:49] miherlosev commented on #68
I think we need to split constans from `const.js` as follow:
1)`DOM_SANDBOX_PROCESSED_CONTEXT`
Using only on client.
Move to `/src/client/utils/dom/.js`
and create two methods:
`getProcessingContext()`
`setProcessingContext(wnd)`
rename to `PROCESSED_CONTEXT`

2)`EVENT_SANDBOX_WHICH_PROPERTY_WRAPPER`
Using only on client.
Move to separate file `/src/client/event/which-property-wrapper.js`
rename t

[2015-10-13 11:50] #183 closed

[2015-10-13 11:52] AlexanderMoskovkin opened #188 "Transport messages counting works incorrectly"
See [here](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/transport.js#L214)
When you call the `sendMsg` function `this` context in the `sendMsg` function is not the `Transport` instance.

As a result `this.activeServiceMessagesCounter++;` is `NaN`. It brokes the [`waitForServiceMessagesCompleted`](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/tra

[2015-10-13 11:56] miherlosev commented on #182
Need to fix the following issues:
https://github.com/superroma/testcafe-hammerhead/issues/184
https://github.com/superroma/testcafe-hammerhead/issues/125

[2015-10-13 12:39] #153 closed

[2015-10-13 12:42] inikulin commented on #68
Disagree what we should place any constants in utils. Also, I don't like whole file for just single constant, can we make them instance constants, or statics?

[2015-10-13 13:19] miherlosev commented on #68
Ok. Updated version:

1)`EVENT_SANDBOX_WHICH_PROPERTY_WRAPPER`
Instace constant - EventSandbox.WHICH_PROPERTY_WRAPPER

2)`DOM_SANDBOX_OVERRIDE_DOM_METHOD_NAME
   DOM_SANDBOX_STORED_ATTR_POSTFIX
   HOVER_PSEUDO_CLASS_ATTR
   DOM_SANDBOX_PROCESSED_CONTEXT,
   FOCUS_PSEUDO_CLASS_ATTR,
  DOCUMENT_CHARSET`
Move to separate file `/src/processing/dom/attributes.js`
Content:
[code]

3)`IS_STYLESHEET_PROCE

[2015-10-13 13:30] inikulin commented on #68
regarding 2:
We can remove `Attr` from field names, since it will be used as constants union (always with the host object), e.g.:
[code]

I think it should be named `internal-attributes.js` or something like that, since it's our internal, processing-related attrs. @VasilyStrelyaev will help with better naming

regarding 4:

I vote for this

[2015-10-13 14:35] VasilyStrelyaev commented on #68
Well, without actually delving into where they are used, I tend to say "okay". Names seem fair as long as all these constants really have something to do with internal attributes, and abbreviations like `INTERNAL_ATTRS` are allowed according to js style best practices (I still can't get used to it after .NET).
Though we are going to leave `Attr` in `storedAttrPostfix` since it's determinative here

[2015-10-13 17:52] inikulin opened #189 "Let's rethink our Promise lib (once again =))"
What I don't like currently:
- es6-promise lib, because we need to do [this](https://github.com/superroma/testcafe-hammerhead/blob/master/Gulpfile.js#L135) and it's quite big. I found nice, small, browser-compatible alternative which doesn't pollute global scope: https://github.com/floatdrop/pinkie Ideal candidate for client-side usage.
- testcafe also uses es6-promises which is required by each i

[2015-10-13 18:09] inikulin opened #190 "node v4 switch"
## Pros:
- less dependencies (no babel runtime, no promise lib)
- faster testing (faster runtime, less travis configurations)
- less compilation: native ES6, native Promises, async funcs to generators, readable code
- faster (in theory)
## Cons:

:question:  Let's discuss \cc everyone
## TODOs:
- [x] Disable following babel transpillers according to https://nodejs.org/en/docs/es6/#which-es6-featur

[2015-10-14 07:16] miherlosev commented on #190
I think we should take into account this - https://github.com/nodejs/LTS.
We can switch to version 4.0 when LongTerm support for 0.12 version is finished - 2017-04-01.

[2015-10-14 07:52] churkin commented on #68
looks good

[2015-10-14 08:49] AlexanderMoskovkin commented on #188
Sorry, I've determined the cause of the problem in `testcafe` incorrectly. `Hammerhead` is ok here, so, I close the issue.

[2015-10-14 08:49] #188 closed

[2015-10-14 08:54] inikulin commented on #190
@miherlosev good point

[2015-10-14 10:10] AlexanderMoskovkin opened #192 "Rename 'uploadStoragePath' to 'uploadsRoot'"
in [Session constructor](https://github.com/superroma/testcafe-hammerhead/blob/master/src/session/index.js#L15) and [UploadStorage constructor](https://github.com/superroma/testcafe-hammerhead/blob/master/src/upload/storage.js#L12)

/cc @inikulin @churkin

[2015-10-14 11:10] AlexanderMoskovkin opened #193 "Hammerhead.upload doesn't work properly"
Hammerhead.upload published [here](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/index.js#L40):
[code]
but it should be:
[code]
to have the correct context in the `UploadSandbox.upload` function

[2015-10-14 11:25] inikulin commented on #193
I'd prefer to rename UploadSandox `upload` method to `doUpload` to avoid disambiguation.

[2015-10-14 11:41] miherlosev opened #194 "Multiple element processing inside DomProcessor.processPage"
This is perfomance issue.
`CONST.ELEMENT_PROCESSED_FLAG` always equal `false` because `Const` does not contain `ELEMENT_PROCESSED_FLAG`
Code fragment:
[code]
Need to provide perfomance check results

[2015-10-14 12:40] AlexanderMoskovkin opened #195 "FIle uploading doesn't work"
Reproduced in playground.
You can check it on the [ASPxUploadControl demo page](https://demos.devexpress.com/ASPxFileManagerAndUploadDemos/UploadControl/MultiFileSelection.aspx). Just try to upload any file with hammerhead playground.

[2015-10-14 14:19] #68 closed

[2015-10-15 09:35] VasilyStrelyaev commented on #68
Like being ignored so much!

[2015-10-15 09:36] inikulin commented on #68
@VasilyStrelyaev :laughing:

[2015-10-15 09:38] #171 closed

[2015-10-15 09:39] inikulin commented on #68
Actually we've missed the point here, we definitely should rename `INTERNAL_PROPS.overrideDomMethodName` to `INTERNAL_PROPS.overrideDomMethod`.
\cc @churkin @miherlosev

[2015-10-15 13:45] #193 closed

[2015-10-16 07:16] #129 closed

[2015-10-16 10:21] inikulin opened #198 "Remove unused dependencies"
Dependencies check gives me the following report:
[code]

[2015-10-16 10:23] inikulin commented on #198
Ok, seems like `ejs` is used by playground.

[2015-10-16 11:12] inikulin commented on #198
I'm working on this

[2015-10-16 12:04] churkin commented on #195
I'm working on this.

[2015-10-16 13:16] churkin opened #199 "Don't wait cookie before form submit, put them in a hidden input and parse on the server"

[2015-10-19 10:29] #198 closed

[2015-10-20 08:48] LavrovArtem commented on #114
I'm working on this

[2015-10-20 10:30] #195 closed

[2015-10-21 09:16] helen-dikareva opened #206 "Active-window-tracker raises error when try to send servideMessage to removed iframe"
Error is reproduced in testcafe-phoenix's Qunit tests only in MSEdge https://github.com/superroma/testcafe-phoenix/issues/110

Error occurs when we try to verify the existence of this.activeWindow.top in _notifyPrevActiveWindow method.

We just need to add this check in try/catch block (and we added addition check):
[code]

[2015-10-21 11:25] LavrovArtem commented on #206
I'm working on this

[2015-10-22 10:22] #94 closed

[2015-10-22 14:16] #114 closed

[2015-10-22 14:39] #93 closed

[2015-10-23 10:18] AlexanderMoskovkin opened #209 "Enable serving of the favicon"
https://github.com/superroma/testcafe-phoenix/pull/124#discussion_r42850149

[2015-10-26 08:33] churkin opened #210 "Add TLS above 1.0 support"
https://isc.devexpress.com/Thread/WorkplaceDetails/T228488

[2015-10-27 10:56] AndreyBelym commented on #147
Steps to reproduce the problem:
1. Start recording at http://demos.devexpress.com/ASPxFileManagerAndUploadDemos/FileManager/Features.aspx
2. Click 'Browse' button.
3. Select a file.
4. Click upload button.
5. Now try to play recorded test. At step 'Click Browse button' you will be prompted to select a file again.

[2015-10-27 11:14] #18 closed

[2015-10-27 14:04] helen-dikareva commented on #209
I'm working on this

[2015-10-28 06:06] miherlosev commented on #147
I'm working on this

[2015-10-28 07:03] #209 closed

[2015-10-28 10:08] miherlosev commented on #147
Cann't reproduce - http://screencast.com/t/pbmSh60MtOYg

[2015-10-28 11:47] #206 closed

[2015-10-28 11:47] inikulin commented on #151
Any update on this?

[2015-10-28 11:47] inikulin commented on #151
\cc @miherlosev @churkin @LavrovArtem

[2015-10-28 11:51] inikulin commented on #158
\cc @miherlosev Any update on this? Can we add browsers to the browser matrix?

[2015-10-28 12:01] miherlosev commented on #151
It will be checked late.
Need to invent a quit test.

[2015-10-28 12:03] inikulin commented on #151
@miherlosev We need to do that ASAP, it's blocking 1.0.0 release

[2015-10-28 12:06] LavrovArtem commented on #151
not reproduced

[2015-10-28 12:10] #12 closed

[2015-10-28 12:10] inikulin commented on #151
good

[2015-10-28 12:10] #151 closed

[2015-10-28 12:19] miherlosev commented on #158
Yes, we can.
I will do it now.

[2015-10-28 12:23] churkin commented on #147
@AndreyBelym Please, try to reproduce the problem after upgrade hammerhead to v.1.0.0.

[2015-10-28 12:58] AndreyBelym commented on #147
Confirmed, I can't reproduce the bug too after update.

[2015-10-28 13:13] #147 closed

[2015-10-28 13:34] #158 closed

[2015-10-28 13:34] inikulin opened #217 "Numerous enhancements for the Health Monitor UI"
- [x] Add commit list and commit hyperlinks in the HealthMonitor history view

- [x] Show clickable page URL somethere on the page. Currently I can't find the way to open URL without typing it. Moreover, some URL are so long what I can't see them whole in the combobox.

- [x] Duplicate combobox colored status somether on the page with the colored text. Red - "Has errors", white - "All fine", gray

[2015-10-28 13:50] miherlosev commented on #69
I'm working on this

[2015-10-28 15:14] inikulin commented on #15
I'm working on it

[2015-10-28 15:37] inikulin commented on #189
Ok, I've seen couple of errors caused by es6-promise AMD in HHM (like we had in #127). So, I'm raising priority of this.

[2015-10-28 15:55] inikulin opened #218 "Change resource colors in graphs for HealthMonitor"
Colors for the different resources are so close to each other that I can barely distinct them without labels.

[2015-10-29 07:28] miherlosev commented on #217
@inikulin Provide the new badge text - with 'status quo' phrase

[2015-10-29 07:38] churkin commented on #199
I'm working on this

[2015-10-29 08:15] inikulin commented on #179
The most important: `_raiseEvent` is inconsistent: for IE it should be sync, while for other browsers it should be async. We should split it into two version: the sync one and the async one.

[2015-10-29 08:17] #189 closed

[2015-10-29 08:28] inikulin commented on #189
@churkin Release 1.1.0 please

[2015-10-29 08:37] churkin commented on #189
@inikulin  https://github.com/superroma/testcafe-hammerhead/pull/220

[2015-10-29 08:49] LavrovArtem commented on #64
I'm working on this

[2015-10-29 13:23] helen-dikareva opened #221 "We need to avoid scrolling elements with 'overflow=hidden' during focusing their children in IE"
To fix tescafe bug

[2015-10-29 14:02] helen-dikareva commented on #221
I'm working on this

[2015-10-29 21:28] inikulin commented on #217
More enhancement requests for the history page (e.g. https://testcafe-hhhm.devexpress.com/history?timestamp=1445799791886&url=http://www.etsy.com/):

- [ ] Show clickable page URL somethere on the page. Currently I can't find the way to open URL without typing it. Moreover, some URL are so long what I can't see them whole in the combobox.

- [ ] Duplicate combobox colored status somether on the pa

[2015-10-29 21:28] inikulin commented on #217
\cc @miherlosev

[2015-10-29 21:30] inikulin commented on #218
Close in favor of #217

[2015-10-29 21:30] #218 closed

[2015-10-30 13:12] #97 closed

[2015-10-30 13:55] helen-dikareva opened #226 "Window.event becomes empty when a click event handler triggers the click event on a different element in IE11"
T304784

[2015-10-30 13:55] #192 closed

[2015-10-30 13:55] #194 closed

[2015-10-30 13:55] helen-dikareva commented on #226
I'm working on this

[2015-10-30 14:16] LavrovArtem commented on #113
I'm working on this

[2015-10-31 17:44] #221 closed

[2015-11-02 08:31] miherlosev opened #229 "https://coveralls.io integration"

[2015-11-02 09:28] LavrovArtem commented on #155
I'm working on this

[2015-11-02 09:47] #113 closed

[2015-11-02 09:56] #64 closed

[2015-11-02 11:11] inikulin opened #231 "Scripts passed to the WebWorker via Blob or data-uri doesn't have processing header"
We should always have processing header in WebWorkers since we need to provide instruction fallbacks. But if script was provided via Blob object or data-uri we don't explicitly add processing header which results in error.

**Refs:**
About WebWorker Blob :  http://stackoverflow.com/questions/10343913/how-to-create-a-web-worker-from-a-string

Failing page: http://www.homedepot.com/c/HomePageRegiona

[2015-11-02 11:28] #58 closed

[2015-11-02 11:43] inikulin commented on #58
@churkin Do we have BCs?

[2015-11-02 11:50] churkin opened #233 "Create separate package for the common client code (e.g. utils) which will shared across libraries"

[2015-11-02 12:19] churkin commented on #58
@inikulin No

[2015-11-02 12:55] inikulin opened #235 "Remove `integrity` attributes from resources"
See: http://www.w3.org/TR/SRI/

This attribute is used to avoid MITM attacks. Attribute contains SHA of the desired resource. Which doesn't work for us. This is widely used currently. And it brokes e.g. GitHub proxying. I suggest to remove this attribute entirely. It applies only to `<script>` and `<link>` elements.

[2015-11-02 15:15] #105 closed

[2015-11-02 15:18] #15 closed

[2015-11-03 07:31] miherlosev commented on #155
Need rewrite for multiple files - https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/sandbox/shadow-ui.js#l161

[2015-11-03 07:33] churkin commented on #155
@miherlosev  Good remark

[2015-11-03 11:46] miherlosev commented on #69
temporary suspended

[2015-11-03 11:48] miherlosev commented on #217
I am working on 'Commit list between HHM runs'.

[2015-11-03 12:03] miherlosev commented on #217
# Sketch

![1](https://cloud.githubusercontent.com/assets/4133518/10907525/d264bcc6-823b-11e5-9486-14ddc44dc12a.png)

[2015-11-03 12:06] churkin commented on #136
@inikulin @AlexanderMoskovkin

Guys, I propose to make a simple decision and cease to suffer with the unstable tests.
[code]
It should solve all the problems with the hammerhead tests. I suggest not to run the tests several times. If the virtual machine slows down, all 10 times the tests will not pass. If the test works through time, it is a bad test and we have to rewrite it.

[2015-11-03 12:50] inikulin commented on #136
@churkin I like it, but I think we should increase general timeout to 3 seconds. @AlexanderMoskovkin We should implement it in harness I guess

[2015-11-03 12:54] AlexanderMoskovkin commented on #136
agree. Maybe we should and the second optional agrument `ms` ? We will able to cover the scenarios when we should wait more long time

[2015-11-03 13:10] miherlosev commented on #217
@VasilyStrelyaev
Please provide more redable text for 'Commits after previous run' phrase

[2015-11-03 13:20] inikulin commented on #136
@AlexanderMoskovkin Do we have them? I suppose what test which waits more than 3 seconds is a bad test

[2015-11-03 13:29] AlexanderMoskovkin commented on #136
I hope no, we have not ))

[2015-11-03 14:55] LavrovArtem commented on #217
I am working on

[2015-11-03 16:03] VasilyStrelyaev commented on #217
`Changes`
`Commits since last run`
`Changes since last run`

[2015-11-03 16:09] VasilyStrelyaev commented on #217
Let's look at the rest of the page:
*Build history for* - not OK
The whole module is *History*, yeah, but the controls at the top allow you to choose the site and date to view the *report* for.
Can we have two labels: *Test page* and *Build*

[2015-11-03 16:13] VasilyStrelyaev commented on #217
*Resources not load on proxy*
Do you mean *Resources not loaded to proxy* ?

[2015-11-03 16:17] VasilyStrelyaev commented on #217
The *info* column in the grid has *more* or *less* links.
I'd expect them to show/hide some additional info but they just expand rows with trimmed text.
Can we rename them to *expand* or *collapse*.

[2015-11-03 16:17] VasilyStrelyaev commented on #217
\r-

[2015-11-05 07:18] miherlosev opened #239 "Tests for nested iframes"
There are the following iframe types:
1)without a src attribute
2)src is set to a same-domain url
3)src is set to a cross-domain url
4)src has the 'about:blank' value
5)src has a javascript protocol value (`src = "javascript:'<html><body><h1>test</h1></body></html>'"`)

Need to add tests for nested iframes for all combinations

[2015-11-05 07:36] inikulin commented on #239
I suppose it's covered by web platform tests

[2015-11-05 07:38] inikulin commented on #182
The error rate is still above status quo, so let's keep it open

[2015-11-05 13:21] churkin opened #240 "Client HTML processor loses border style during processing (in IE)"
This test will fail:

[code]

IE browsers remove this style from the markup.

[2015-11-05 16:53] inikulin commented on #217
BTW, on charts latest builds exceeds time limits, however badge shows what everything is fine. Also, I have no idea load event can happen before ready event (which happens constantly according to our charts). \cc @churkin @miherlosev @LavrovArtem

[2015-11-05 16:58] #226 closed

[2015-11-05 17:06] inikulin commented on #15
jsProcessor was removed from the client API. `hammerhead.navigateTo(url)` was introduced.

[2015-11-06 07:27] miherlosev commented on #217
I am working on this

[2015-11-06 07:36] LavrovArtem commented on #217
@inikulin
1) Badge shows what everything is fine because use coefficient 0,4 but on the charts coefficient 0,2
2) On the statistics chart shown ratio between proxy time and origin time, for example:
load ratio 2583 / 2317 = 1,113
ready ratio 1801 / 1517 = 1.187
ready ratio > load ratio
![image](https://cloud.githubusercontent.com/assets/5373460/10991684/6c567a96-8470-11e5-98e2-8e8acfaa9253.png)

[2015-11-06 08:27] inikulin commented on #217
@LavrovArtem I'm talking about homepage

[2015-11-06 08:43] LavrovArtem commented on #217
@inikulin me too
![image](https://cloud.githubusercontent.com/assets/5373460/10992902/9acfad24-847b-11e5-8536-53d574c802c2.png)

[2015-11-06 10:08] VasilyStrelyaev commented on #217
I'd go for *Proxy latency factor*
Though *proxy/origin ratio* may also fit but it lacks the *time* component in its meaning

[2015-11-06 11:02] churkin opened #242 "Create mini version of the Parse5"
We want to use the parse5 on the client-side. This is necessary to fix #240 bug.

[2015-11-06 11:02] churkin commented on #240
Will be fixed after #242.

[2015-11-06 11:27] VasilyStrelyaev commented on #217
*Proxy latency* turns out to be already reserved.
And I'm not sure about *Proxy lag factor*. Do you like it?
Otherwise, we'll stick to *Proxy/origin ratio*

[2015-11-06 11:28] VasilyStrelyaev commented on #217
Or *Proxied/direct ratio* - if we use a more common terminology

[2015-11-06 11:29] miherlosev commented on #217
I am working on this

[2015-11-06 11:35] miherlosev commented on #217
Gray color means 'page load time more than 40 sec'.
I think we need to remove gray color and mark items as error (use red color).
If it is own problem we need to fix the perfomance problem.
If it is site problem we need to remove site from test list
@inikulin @churkin

[2015-11-06 11:36] inikulin commented on #217
@miherlosev I agree

[2015-11-06 11:57] miherlosev commented on #217
I am working on this

[2015-11-06 12:17] #231 closed

[2015-11-06 12:56] miherlosev opened #243 "Add support sites with 'Content-Security-Policy'"
'Content-Security-Policy' header allows to restrict resouce loading (scripts, styles).
After proxing a same sites we can have a 'Refused to load the script ' errors.

Example - https://www.dropbox.com/

Details:
http://www.w3.org/TR/CSP1/
https://en.wikipedia.org/wiki/Content_Security_Policy
http://content-security-policy.com/
http://www.html5rocks.com/en/tutorials/security/content-security-policy

[2015-11-06 13:06] inikulin commented on #243
@miherlosev we already remove those headers: https://github.com/superroma/testcafe-hammerhead/blob/master/src/request-pipeline/header-transforms.js#L49 So, AFAIK it should work already

[2015-11-06 13:16] miherlosev commented on #243
On client side it will be added via meta tag:
`<meta http-equiv="Content-Security-Policy" content="script-src https: 'unsafe-eval';">`

[2015-11-06 13:19] inikulin commented on #243
Oh, I see. So we just need to remove this metas.

[2015-11-06 13:20] inikulin commented on #243
We can do it for now, to prevent errors. And create separate issue for the full-featured CSP emualtion

[2015-11-06 13:20] inikulin commented on #243
So at least we will behave as original browser. But this is quite complex feature. Since we will need feature detection and other stuff

[2015-11-06 13:37] miherlosev opened #244 "Full-featured CSP emulation"
see https://github.com/superroma/testcafe-hammerhead/issues/243

[2015-11-06 13:39] miherlosev commented on #217
I am working on this

[2015-11-06 14:25] miherlosev commented on #217
I am working on this

[2015-11-06 16:35] inikulin commented on #217
@miherlosev :disappointed:
BTW, I don't like this "copy to clipboard" button. Can we just show the link, which will open page in the new window?

[2015-11-06 16:40] inikulin commented on #217
@LavrovArtem BTW, can we remove X axis ticks in Events and Resource. I have no idea what do they mean and why we need them.

[2015-11-09 08:15] miherlosev commented on #217
BTW, I don't like this "copy to clipboard" button. Can we just show the link, which will open page in the new window? You can add one more title under "Changes since previous run" named "Page" under which link will be provided

Sketch
![1](https://cloud.githubusercontent.com/assets/4133518/11028838/2f0fc6f0-86d3-11e5-92c0-680ef03ae2ca.png)

@inikulin

[2015-11-09 08:18] miherlosev commented on #243
I am working on this

[2015-11-09 08:55] inikulin commented on #217
@miherlosev Why not provide the link as I suggested: 1)It will server as the title 2)You will be able to copy it 3)You will be able to open it. I don't like this small buttons and other things, then we can use just a link.

[2015-11-09 11:10] miherlosev opened #245 "Get rid of Array.prototype/Object.prototype methods in client and shared code"
`Array.prototype.slice.call` is used in many places.
![1](https://cloud.githubusercontent.com/assets/4133518/11030461/3f33d9b6-86df-11e5-96f3-ca6b5d88654b.png)

We need to create cloneItems(iterableObject) util and rewrite all places.
https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#32-leaking-arguments

[2015-11-09 11:19] inikulin commented on #245
**IMPORTANT**: we shouldn't do this for `arguments`, use inline copy instead

[2015-11-09 11:53] #139 closed

[2015-11-09 12:43] churkin opened #247 "HH opens new window if the form target attribute points to a nonexistent window name"

[2015-11-09 12:46] #155 closed

[2015-11-09 12:50] AlexanderMoskovkin opened #248 "Finish the repo transfer"

[2015-11-09 13:42] LavrovArtem commented on #217
done

[2015-11-09 14:54] inikulin commented on #245
We should avoid using native object prototype methods, since they can be overriden by the client code. It would be nice to have some kind of check for this, maybe custom eslint-plugin.

[2015-11-09 14:56] inikulin commented on #245
@LavrovArtem @miherlosev I've updated the task

[2015-11-09 15:05] VasilyStrelyaev commented on #217
@inikulin OMG! *Status quo* has a completely different meaning!

[2015-11-09 15:06] VasilyStrelyaev commented on #217
LOL

[2015-11-09 15:20] miherlosev opened #250 "Health Monitor - recalculate status quo value for 'Sites with errors' on each run"
status quo value = 1.1 * count errors for best run

[2015-11-09 15:21] #248 closed

[2015-11-09 15:23] VasilyStrelyaev commented on #217
Like, if we have a history of a function that does not exceed a particular limit, then *f(x) < lim* can be called status quo - but not *lim*.

[2015-11-09 15:23] inikulin commented on #217
@VasilyStrelyaev how about `threshold`?

[2015-11-09 15:32] VasilyStrelyaev commented on #217
*Threshold* is what I was thinking about.
I'm trying to come up with a definitive word for *threshold* , cause probably *Ready (Load) threshold* is not quite clear.
*Ready (Load) warning threshold* maybe...

Another solution is to avoid *threshold* in the chart. Just write *Warning (Ready)* and *Warning (Load)*. It's obvious that it's a threshold after all - the chart speaks for itself.

[2015-11-09 15:37] inikulin commented on #217
I like this idea

[2015-11-09 15:41] inikulin commented on #217
@VasilyStrelyaev *waterline*?

[2015-11-09 16:07] VasilyStrelyaev commented on #217
heh, sounds cool

[2015-11-09 18:38] inikulin commented on #250
I was thinking about it recently and I think we should not have any threshold for the site errors. So, if we have 9 errors, we should set limit to the 9, without 1.1 amplification

[2015-11-10 07:23] miherlosev commented on #250
Ok.
status quo value = count errors for best run

[2015-11-10 07:32] miherlosev commented on #250
I'm working on this

[2015-11-10 09:02] miherlosev commented on #250
Complete.

[2015-11-10 09:03] #250 closed

[2015-11-10 09:05] miherlosev commented on #217
Done

[2015-11-10 09:58] inikulin commented on #217
@VasilyStrelyaev yet another option: *regression line*

[2015-11-10 10:55] LavrovArtem commented on #245
@inikulin I found this [issue](https://github.com/eslint/eslint/issues/3504) in eslint repo, but it was closed. Plugin I could not find.

[2015-11-10 11:11] inikulin commented on #245
We can create our own plugin. It's not a big deal

[2015-11-11 08:11] miherlosev commented on #217
I think we should do this:
1)rename to 'Resource errors'
2)show only resources with status code greater than 400 (errors)

[2015-11-11 08:54] churkin opened #252 "Add localStorage/sessionStorage sandbox"

[2015-11-11 09:15] LavrovArtem opened #253 "The onDocumentCleaned event is raised wrongly after document.write is called for a document that is still being loaded"
Multiple calls to  `document.write`  leads to the page hanging. Because each time`onDocumentCleaned` is raised Hammerhead gets initialized.

[2015-11-11 09:18] VasilyStrelyaev commented on #217
even further than *status quo*

[2015-11-11 09:32] miherlosev commented on #253
Please, provide a simple example

[2015-11-11 10:51] LavrovArtem commented on #253
I found site with sorce code:
[code]

[2015-11-11 12:41] inikulin commented on #47
**Important**: It should work for webstorages as well

[2015-11-11 12:50] #243 closed

[2015-11-12 14:31] miherlosev opened #255 "Health Monitor - use standalone Google Chrome version"

[2015-11-13 10:07] inikulin commented on #229
Well, I think we can close it, since we have a lot of different test suites and it will be nearly impossible to produce common coverage report.

[2015-11-13 10:07] #229 closed

[2015-11-13 10:08] inikulin commented on #182
We are somehow near threshold now. So, closing. Next aim - zero errors

[2015-11-13 10:08] #182 closed

[2015-11-13 11:43] miherlosev commented on #217
I am working on this

[2015-11-13 12:01] inikulin opened #257 "Create 'dev' build option"
By default we should build and run tests in release configuration, unless `--dev` flag is not specified.

[2015-11-13 12:38] inikulin commented on #257
Blocking on #142, because there will be changes regarding client css processing

[2015-11-13 13:48] miherlosev commented on #217
Done

[2015-11-13 13:48] #257 closed

[2015-11-13 13:53] miherlosev commented on #255
I am working on this

[2015-11-16 07:38] #217 closed

[2015-11-16 13:41] miherlosev opened #259 "Style is not processed if it was created via style.appendChild(document.createText(<text>))"
Web page contains the following script:
[code]

After proxying the page, the url from the code `url("/image.png")` must be replaced.

[2015-11-16 13:47] inikulin commented on #259
Do we need such processing for scripts as well?

[2015-11-16 13:52] miherlosev commented on #259
Already proceed -
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/element.js#L215.
But we need to checking all variants (insertBefore, innerHtml) for style and scripts.

[2015-11-16 14:37] churkin commented on #259
@miherlosev should not innerHtml

[2015-11-17 06:40] inikulin commented on #253
We have a numerous regressions caused by the fix in hhm: https://testcafe-hhhm.devexpress.com/history?timestamp=1447700581777&siteUrl=https://www.yahoo.com/&onlyWithErrors=true
Please, take a look. Reopening for now.

[2015-11-17 08:31] churkin opened #260 "Not all types of 'eval' function calls wrapped"
We have to wrap:

[code]

to

[code]

[2015-11-17 08:38] inikulin commented on #260
We need to parenthesize it to preserve precedence:
[code]

[2015-11-17 09:34] helen-dikareva opened #261 "Errors occur on UploadControl demos"
Errors are produced via playground after click on 'Upload' button
[code]

[2015-11-17 10:28] #210 closed

[2015-11-17 11:08] miherlosev opened #264 "Node.replaceChild must be overriden"
Code for reproduce:
[code]
style.innerHtml equal 'div.class2 { background-image: url("/image2.png"); }'.
It is wrong because it contains non proxed url `/image2.png`.

[2015-11-18 12:20] #253 closed

[2015-11-18 12:57] LavrovArtem opened #268 "form.action returns the location URL for a form with no action attribute set"
Form without attributes:
[code]
JS:
[code]

[2015-11-18 13:05] inikulin commented on #268
@LavrovArtem Please, use feature detection in fix.

[2015-11-18 14:58] AlexanderMoskovkin commented on #136
The `wait` feature is availabe in the `qunit-harness v.0.2.0`. Here is an example how to use it:
[code]
The test will fail with the timeout error if condition returns 'false' within 3000 ms.

I suppose you can try to fix unstable tests.
I think you need not the [Add the `attempts` parameter to tests](https://github.com/AlexanderMoskovkin/qunit-harness/issues/6) feature yet and I can close it? /cc

[2015-11-18 15:45] churkin opened #270 "Create setTimeout/setInterval methods wrappers to be able to process script argument"

[2015-11-19 09:04] helen-dikareva opened #271 "Active-window-tracker raises error when try to check removed iframe's window.top property"
We don't need check ```if (this.activeWindow !== this.activeWindow.top)``` after receive WINDOW_ACTIVATED_EVENT

[2015-11-19 09:04] helen-dikareva commented on #271
I'm working on this

[2015-11-19 11:11] #261 closed

[2015-11-19 12:28] #271 closed

[2015-11-19 12:42] helen-dikareva opened #275 "The 'isHammerheadAttr' method should returns true for focus pseudo class"
Recorder needs this behavior (in future)
T310836

[2015-11-19 12:42] helen-dikareva commented on #275
I'm working on this

[2015-11-19 13:07] LavrovArtem opened #277 "navigator.serviceWorker may throw an exception due to the sandbox settings of the iframe"
[code]
```Uncaught SecurityError: Failed to read the 'serviceWorker' property from 'Navigator': Service worker is disabled because the context is sandboxed and lacks the 'allow-same-origin' flag.```
[Source code](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/native-methods.js#L96) where the error occurs.

[2015-11-19 13:10] #275 closed

[2015-11-19 14:06] miherlosev opened #279 "Wrong native methods initialization for iframe without src"
Test for reproduce
[code]

Only in IE9, IE10
All element and document methods overrided wrongly.

[2015-11-19 14:18] churkin opened #280 "Replace all setTimeout in the client tests to the QUnitGlobals.wait"

[2015-11-20 07:37] miherlosev commented on #279
I am working on this

[2015-11-20 07:56] inikulin commented on #260
There are numerous regressions in HHM caused by fix. So, reopening \cc @churkin

[2015-11-20 08:01] LavrovArtem commented on #260
Uncaught ReferenceError: Invalid left-hand side in assignment
google.loader.eval={}       =>         __get$Eval(google.loader.eval)={}

[2015-11-20 09:36] helen-dikareva opened #282 "Make active-window-tracker Qunit tests stable"

[2015-11-20 09:37] helen-dikareva commented on #282
I'm working on this

[2015-11-20 11:50] inikulin opened #284 "XHR errors"
HHM recently showed new errors on http://www.samsung.com/uk/home/. Doesn't seems what they are caused by regression, but more likely they are a result of the site change. In Chrome and IE there is a runtime error, which is caused by an empty response from the XHR (in DevTools it's showed with status "Finished" instead of status code). Meanwhile in Firefox console throws CORS-error and seems like X

[2015-11-20 14:10] #268 closed

[2015-11-23 12:05] LavrovArtem commented on #284
I'm working on this

[2015-11-23 14:57] LavrovArtem commented on #284
Client code sends the xhr without the referer header, because of this proxy does not transform origin header.
```Origin: http://localhost:1401``` // does not transform

[2015-11-24 14:10] #279 closed

[2015-11-25 10:16] #282 closed

[2015-11-25 12:09] #260 closed

[2015-11-25 13:19] churkin opened #290 "document.location for the top window is proxied incorrectly"
If we set document.location for the top window from iframe:

[code]

it is proxied as for the iframe:

`http://hammerhead:1400/sessionId!`**iframe**`/http://some.domain.com/`

[2015-11-25 13:21] inikulin commented on #290
@churkin Can you provide more details, please?

[2015-11-25 14:40] inikulin commented on #290
Thank you

[2015-11-26 07:50] #290 closed

[2015-11-26 09:41] miherlosev commented on #264
I am working on this

[2015-11-26 10:17] inikulin opened #292 "We have duplicate rules in .eslintrc"
And for some reason we have some important rules like `no-shadow` disabled.

[2015-11-26 12:08] AndreyBelym opened #294 "Tap doesn't set hoverPseudoClass on an element in Android"
Despite `onmouseover`  doesn't emitted with touchscreens, an element has `:hover` state after tapping on it.

Hammerhead uses `mouseover` to detect current hovered element and set `hoverPseudoClass` on it, so it cannot set `hoverPseudoClass` with touchscreen. It breaks functionality of `:hover` in playback mode.

So we need set  `hoverPseudoClass` on tap/click, or maybe use `focusPseudoClass` inst

[2015-11-26 13:02] #270 closed

[2015-11-26 13:24] #264 closed

[2015-11-26 15:40] miherlosev opened #296 "Script error on adding new element to non-added to DOM 'body' element"
Script to reproduce:
[code]

[2015-11-26 15:46] miherlosev commented on #296
I'm working on this

[2015-11-26 22:26] inikulin commented on #259
Seems like this caused a lot invalid invocation errors. @miherlosev please, take a look. Reopening for now

[2015-11-27 06:47] miherlosev commented on #259
Fixed in https://github.com/DevExpress/testcafe-hammerhead/pull/297
I will checking after merge it.

[2015-11-27 08:21] miherlosev opened #298 "QUnit test names must start with lowercase"
In many places our qunit test names start with uppercase.
For example:
https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/fixtures/sandbox/shadow-ui-test.js#L577
https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/fixtures/sandbox/xhr-test.js#42
https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/fixtures/sandbox/node/dom-processor

[2015-11-27 10:28] #296 closed

[2015-11-27 11:01] miherlosev commented on #298
I'm working on this

[2015-11-27 11:38] #298 closed

[2015-11-27 12:35] miherlosev commented on #259
The problem fixed (see https://testcafe-hhhm.devexpress.com/history?timestamp=1448622003671)

[2015-11-27 12:35] #259 closed

[2015-11-30 06:56] miherlosev opened #301 "ShadowUI stylesheets are not restored after the document is cleaned (in iframe)"
We have a test:
[code]

This test executed only for WebKit browsers.
It fails in others browsers (IE, FF, Safari etc.).
To fix problem we need to rewrite two points:
1)save shadowUI stylesheets not as document fragment (in IE we cannot access to documentFragment properties that was created before `document.write` calling) - see https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/clie

[2015-11-30 10:07] #284 closed

[2015-11-30 12:05] miherlosev commented on #255
Node js version changed to 4.2.2

[2015-11-30 12:05] #255 closed

[2015-11-30 13:34] miherlosev commented on #301
I am working on this

[2015-11-30 13:50] helen-dikareva commented on #294
In iOS/Safari the same problem. We're waiting for this for https://github.com/DevExpress/testcafe/issues/113

[2015-11-30 13:58] AndreyBelym opened #303 "Android and iOS ignore 'size' and 'multiple' attributes for select elements"
On mobile devices all select elements are displayed in one line, even if 'size' attribute is greater than 1, or element has 'multiple' attribute. So styleUtils.getSelectElementSize must always return 1 on these platforms.

[2015-12-01 13:39] LavrovArtem opened #306 "After we process a page with status 204, it is loaded for an infinite time on the client"
Status 204 means that the resource has no content. After we process a page, it gets a non-empty body, which we send to the browser. If the page is sent with status 200, everything works as expected.

[2015-12-01 13:39] LavrovArtem commented on #306
I'm working on this

[2015-12-01 14:36] miherlosev commented on #125
I am working on this

[2015-12-02 07:38] churkin commented on #294
I am working on this

[2015-12-02 08:04] miherlosev commented on #125
Bug reprocude only in Chrome.
For iframe with javascript protocol in src attribute Google Chrome raise two `load` event.

[2015-12-02 10:18] inikulin opened #308 "Refactor async server tests that uses Promises"
Mocha supports promises out of the box now, so you can write:
[code]
instead of:
[code]

[2015-12-02 12:10] #294 closed

[2015-12-02 14:25] #306 closed

[2015-12-02 14:53] #303 closed

[2015-12-03 08:32] #301 closed

[2015-12-03 08:39] miherlosev commented on #136
We decide don't make "quarantine" mechanism.
We have a separate issue #280 to stabilize tests

[2015-12-03 08:39] #136 closed

[2015-12-03 08:40] miherlosev commented on #168
I am working on this

[2015-12-03 08:45] arubtsov opened #313 "React "onChange" event doesn't fire."
Paragraph element in following sample should reflect user input.

https://gist.github.com/arubtsov/a50fb167c38357de98d4
https://gist.github.com/arubtsov/9580b0e446922bdcb8fc

[2015-12-03 09:15] #125 closed

[2015-12-03 09:27] AlexanderMoskovkin commented on #313
It seems it relates to the `testcafe` repo. We'll check it and create an issue for the `testcafe` if necessary.

[2015-12-03 11:36] helen-dikareva opened #314 "Add some accessory methods in styleUtils and export some service methods for getting rid of jQuery in testcafe"
https://github.com/DevExpress/testcafe/issues/56

[2015-12-03 11:36] helen-dikareva commented on #314
I'm working on this

[2015-12-03 11:43] churkin commented on #280
Also we should use QUnitGlobals.waitIframe for waiting iframe load

[2015-12-03 13:01] miherlosev commented on #168
In UnloadSandbox we are proxing the following instruction:
[code]
The `window.onbeforeunload` is a cross-browser way to show confirm dialog with 'Leave this page' and 'Stay on this page' buttons.
There is a non cross-browser way - `window.addEventListener('beforeunload', handler)`.
It supports only in IE(11), Safari (8.0.7).
I think we should not to support this way now.
I have two reason:
a)it do

[2015-12-03 13:43] miherlosev commented on #280
I am working on this

[2015-12-03 15:07] AndreyBelym commented on #313
It's a definitely a `testcafe` issue, I cannot reproduce it in `hammerhead-playground`. So I have created DevExpress/testcafe#214, and close the issue in `hammerhead`.

[2015-12-03 15:07] #313 closed

[2015-12-04 07:19] #314 closed

[2015-12-07 11:21] miherlosev opened #317 "Some tests fail in latest Google Chrome (47.0.2526.73)"
/fixtures/sandbox/code-instrumentation/getters-test.js
/fixtures/sandbox/node/attributes-test.js
/fixtures/utils/dom-test.js

[2015-12-07 11:21] miherlosev commented on #317
I am working on this

[2015-12-07 12:59] miherlosev commented on #317
Fixed in https://github.com/miherlosev/testcafe-hammerhead/tree/i_317
Waiting for Google Chrome 47.0.2526.73 on SauceLabs farm

[2015-12-07 14:03] AndreyBelym opened #318 ""input", "change", "submit" simulated events should bubble"
Events "input", "change" and "submit" bubble in native browser, "focus", "blur" and "selectionchange" don't. Discovered in context of DevExpress/testcafe#214.

[2015-12-07 22:30] inikulin opened #320 "Regression: JSON parse errors in HHM"
Guys, please take a look @churkin @LavrovArtem @miherlosev
Seems like it's one of these commits: https://testcafe-hhhm.devexpress.com/history?timestamp=1449082979570&siteUrl=http://www.tripadvisor.com/

[2015-12-08 06:35] miherlosev commented on #320
I am working on this

[2015-12-08 07:47] LavrovArtem commented on #320
I am working on this

[2015-12-08 08:31] helen-dikareva opened #322 "'Extend' method works wrong for implementing inheritance in testcafe"
We need use 'extend' method from utils for this https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/service.js#L10

[2015-12-08 08:32] helen-dikareva commented on #322
I'm working on this

[2015-12-08 12:37] LavrovArtem opened #324 "FormData.prototype.append must be overridden"
If we append our file wrapper to ```FormData```, we will lose the file name. And we should not send our hidden input's value along with the file info, because our input may have incorrect value if the input with the file has been removed from DOM.

[2015-12-08 12:39] LavrovArtem commented on #324
I am working on this

[2015-12-08 12:39] churkin commented on #320
#324 duplicate

[2015-12-08 13:51] #322 closed

[2015-12-09 09:51] #280 closed

[2015-12-09 09:53] #324 closed

[2015-12-10 07:27] #318 closed

[2015-12-10 08:21] AlexanderMoskovkin commented on #318
@churkin Could you please release a new version with this fix and close the https://github.com/DevExpress/testcafe/issues/214 after that?

[2015-12-10 08:33] churkin commented on #318
@AlexanderMoskovkin of course

[2015-12-10 12:54] LavrovArtem commented on #320
The Acorn parser can not parse a client script:
[code]
We need to update the Acorn parser.

[2015-12-11 11:18] LavrovArtem opened #331 "We are using methods that may be removed"
For example, take the mootools framework. In its obfuscated version, it contains code that removes the RegExp.prototype.test method and restores it later.
[code]
That's how this code looks like after it is processed by hammerhead:
[code]
The ```__set$``` function calls the ```test``` method of the regular expression. The scripts throws the following error as a result: ```Uncaught TypeError: INSTRU

[2015-12-11 11:31] miherlosev opened #332 "After proxing Flash content is not working"
1)http://demos.devexpress.com/ASPxMultiUseControlsDemos/ObjectContainer/ClientSide.aspx
Open page in playground and without it.
2)Page that opened in playground does not have image that must be drawing with Flash.

Only in Firefox

[2015-12-11 14:27] #317 closed

[2015-12-14 07:47] #308 closed

[2015-12-14 13:10] LavrovArtem commented on #331
We need to store native methods from the prototypes. Use this list as a reference https://github.com/mootools/mootools-core/blob/529422872adfff401b901b8b6c7ca5114ee95e2b/Source/Core/Core.js#L286
Use the stored methods instead of calling functions from an object instance. Make an eslint plug-in that controls all this.

[2015-12-14 13:51] LavrovArtem commented on #245
duplicate of #331

[2015-12-14 13:52] #320 closed

[2015-12-14 15:06] #292 closed

[2015-12-15 06:55] LavrovArtem commented on #331
I'm working on this

[2015-12-15 07:04] miherlosev commented on #332
I am working on this

[2015-12-15 07:46] inikulin commented on #332
@miherlosev it doesn't seem to be a severe issue. Maybe it will be better to focus on the webplatform tests?

[2015-12-15 07:52] miherlosev commented on #332
I think at first we need to fix known issues.
Then we will continue to search issues using webplatform tests.

[2015-12-15 08:02] inikulin commented on #332
This is endless process

[2015-12-15 08:57] miherlosev commented on #332
Firefox 42 sets incorrect HTTP `Accept` header when fetching data for <object> tag with flash content.
Bug report - https://bugzilla.mozilla.org/show_bug.cgi?id=1232583

Flash content fetchs like a page - `accept` header value equals `text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8`.
After duscussion we decide to detect flash by content.

I found three npm module:
1)https://github.

[2015-12-15 09:57] miherlosev commented on #69
Resume

[2015-12-15 10:08] inikulin commented on #332
I prefer approach from 1 and 3, since they will not introduce performance overhead. Maybe we will be able to send PR to one of them, so it will support SWF13. Seems like it shouldn't be very hard, since we need to add just new header chars

[2015-12-17 12:55] miherlosev commented on #69
Implementation

- [ ] continious run
continious run with health monitor
separate web page for results
badge

- [ ] refactoring
init mongo db inside data layer
Promise for async operations
last commitId from environment variable
code simplification, remove unused code
gulp

- [ ] move to github
eslint
config files (editorconfig, gitignore etc)

- [ ] playground for web-platform

- [ ] fix bugs

[2015-12-22 19:07] inikulin opened #339 "Implement about:blank page"
We need to implement page for the `http://proxy-host/session-id/about:blank`. It should be just blank page with our stuff injected. We will need for the new API, there tests could start on blank page. BTW, we can fallback to this blank page URL then we can't create proxy URL instead of throwing an error in `getProxyUrl`

[2015-12-24 10:05] helen-dikareva opened #340 "Method 'querySelectorAll' should be overrided to use JQuery selectors that returs elements by value of attribute contains URL"
When test contains selector like this '[href="https://www.google.ru/"]' (or other selector based on attr) jQuery try to get element (by Sizzle) and just call ```document.querySelectorAll(selector)```
Check please may be we have other proxed attr.

[2015-12-24 13:43] miherlosev commented on #340
I am working on this

[2015-12-24 14:40] miherlosev commented on #340
We need to proxy only two variants of the attribute selectors:
[attribute=value]
[attribute^=value]

Rewrite `document.querySelector, document.querySelectorAll`

Algorithm:
1)check attribute name of the selector.
2)If we proxy this attribute and we need to proxy this case (see below) and attrubute value is valid url then need to create proxy url for attribute value
3)call the following native meth

[2015-12-24 15:14] #69 closed

[2015-12-29 10:04] miherlosev opened #342 "urlUtils.getProxyUrl always add the trailing slash"
For example:
urlUtils.getProxyUrl('http://google.com') -> "http://<host>:<port>/<sessionId>/http://google.com/"

Reproduced in IE, Chrome, FF

[2015-12-29 10:06] miherlosev commented on #340
waiting for https://github.com/DevExpress/testcafe-hammerhead/issues/342

[2015-12-30 11:02] AndreyBelym opened #344 "Blacklist 'useStrict' in Babel"
Strict mode disallows usage of `callee.caller`. So if a function traverses call stack with `callee.caller`, and TestCafe functions are strict-mode functions, an exception will be thrown. Unfortunately, we have  that nasty kind of a function in DevExpress ASP.Net controls, so we need to disable strict mode in Babel transform options.

[2015-12-30 11:54] AndreyBelym opened #345 "Avoid calling setAttribute/removeAttribute on HTMLDocument"
When traversing DOM tree and setting/removing `hoverPseudoClass`, tree eventually may be traversed up to the root - HTMLDocument, that doesn't have `setAttribute`/`removeAttribute` methods.

Check `jointParent.tagName` in `_setHoverMarker` & `_clearHoverMarkerUntilJointParent` in [/src/client/sandbox/event/hover.js#L17](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandb

[2015-12-30 13:14] AndreyBelym commented on #345
It was encountered once in Firefox 35 ASPTests.RWA.DevAV, but I cannot reproduce it now.

[2015-12-30 13:57] LavrovArtem commented on #331
In my branch issue-331, the [fix](https://github.com/LavrovArtem/testcafe-hammerhead/commit/afac2abd4618b3ba812856ac52890add64176fde) is done, but it recognizes wrong for performance
![image](https://cloud.githubusercontent.com/assets/5373460/12051405/59259550-af14-11e5-8e44-15e28fefcd9a.png)

[2015-12-30 14:47] #342 closed

[2015-12-30 14:48] AndreyBelym opened #347 "Timeout of 25s is too small for `hanged` XHRs"
The [Large Database Demo](https://demos.devexpress.com/ASPxGridViewDemos/DataBinding/LargeDatabase.aspx) uses a long-polling XHR to wait until a database is created on a server. It takes approx. 50s to create it, so hammerhead aborts the XHR. It leads to a test hanging, because demo page doesn't receive response from server.

[2015-12-30 14:52] AndreyBelym commented on #347
Timeout is in [src/request-pipeline/destination-request/index.js#L45](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/request-pipeline/destination-request/index.js#L45)

[2015-12-30 16:14] #252 closed

[2015-12-30 17:36] AndreyBelym commented on #345
Reopening, reproduced when `newHoveredElement` === `document.body`.

[2015-12-31 08:23] AndreyBelym commented on #345
OK, problem is not with the `body`. Looks like a bug in Firefox: when iframe's src has changed, sometimes top level document is recreated. It leads to situation that no one node from previous document is contained in new document.

[2016-01-05 23:55] inikulin opened #349 "Health Monitor doesn't show commit history anymore"
\cc @miherlosev

[2016-01-11 08:28] miherlosev commented on #349
I'm working on this

[2016-01-11 08:36] miherlosev commented on #349
From January 1 to January 10 Health Monitor runs on another repository https://github.com/LavrovArtem/testcafe-hammerhead.

Bug will be closed after checking on several runs on default brunch.

[2016-01-11 10:03] miherlosev opened #350 "Implement basic XHTML support"
![1](https://cloud.githubusercontent.com/assets/4133518/12230660/f6a1aeb6-b862-11e5-9f75-3efbe20caecc.png)

Presumably, problem grows from non closed our `meta` tag (`<meta xmlns="http://www.w3.org/1999/xhtml" class="charset-hammerhead-shadow-ui" charset="iso-8859-1">`).

[2016-01-11 10:05] inikulin commented on #350
This is issue is caused by the fact that page has `XHTML`

[2016-01-12 08:27] #344 closed

[2016-01-12 13:39] miherlosev opened #351 "Url processing on server side always adds traling slash for proxy url"
Problem located inside standard module `url`.
Example:
`require('url').resolve('', 'http://www.example.org/') -> 'http://www.example.org/'`
`require('url').resolve('', 'http://www.example.org') -> 'http://www.example.org/'`

It causes problem for `element.querySelector([attribute$=value])`.
Selector `[attribute$=value]` means that attribute value ends with specified value.

[2016-01-13 00:15] inikulin opened #354 "Javascript error on wikia.com"
https://testcafe-hhhm.devexpress.com/history?timestamp=1452625422874&siteUrl=http://www.wikia.com/Wikia - reproduces in all last runs

[2016-01-13 00:17] inikulin opened #355 "Issue auto-reporter for the Healt Monitor"
We need create bot that will report an issue if JS errors reproduces in 3 runs in a row in HHM.

[2016-01-13 07:53] LavrovArtem commented on #331
Because of the bad influence on the performance we decided to correct only the function in which the error occurs. Branch [issue-331](https://github.com/LavrovArtem/testcafe-hammerhead/tree/issue-331) with the full fix will be in my fork just in case.

[2016-01-13 08:41] #349 closed

[2016-01-13 09:09] miherlosev commented on #355
This functional will integrate into Health Monitor.
After test run completed we will check 2 previous runs.
Then if found reproduced JS errors we will create issue for each one.
Author of the issue - testcafe-build-bot.

[2016-01-13 09:35] miherlosev commented on #350
I'm working on this

[2016-01-13 09:46] miherlosev commented on #350
To fix bug we need to change our `meta` tags (`X-UA-Compatible` and `charset`) to selfclosed.

[2016-01-13 11:20] #354 closed

[2016-01-14 08:51] #351 closed

[2016-01-14 12:54] LavrovArtem commented on #245
Also It needs to prohibit the using of the iterative functions of the array, in which the callback functions transferred, because it is slower than inline code and can be replaced by any framework.
List of the functions: ```filter```, ```forEach```, ```every```, ```map```, ```some```, ```reduce```, ```reduceRight```.

[2016-01-14 19:16] inikulin commented on #350
@miherlosev Just thought it will not work if we will do it just for our tags. Since we serialize entire page we break it anyway serializing incorrectly user's `<meta>` tags. For now we can use the following solution:
1. Determine if page is an XML page (by analyzing doctype's publidId, details here: https://html.spec.whatwg.org/multipage/xhtml.html#parsing-xhtml-documents)
2. Use https://www.npmjs

[2016-01-15 07:18] #331 closed

[2016-01-15 11:07] AndreyBelym commented on #347
After discussion we decided to keep the 25s timeout for page request, and increase it to couple of muntes for other request types.

[2016-01-15 12:06] #245 closed

[2016-01-15 13:34] #340 closed

[2016-01-18 06:19] miherlosev opened #358 "native methods of the iframe document aren't overridden for iframe with javascript src"
Found in:
http://www.about.com/
http://www.alibaba.com/
etc.
Example
[code]
On the second `load event` `iframeNativeMethods.createElement` contains overriden value instead of native.

[2016-01-18 08:41] inikulin opened #359 "Javascript error on jsfiddle.net"
See: https://testcafe-hhhm.devexpress.com/history?timestamp=1452867987933&siteUrl=https://jsfiddle.net/ \cc @miherlosev @LavrovArtem

[2016-01-18 09:17] LavrovArtem commented on #359
I'm working on this

[2016-01-18 09:19] LavrovArtem commented on #359
Again errors with the mootools framework (#331)

[2016-01-18 13:20] LavrovArtem commented on #359
The mootools framework removes the Function.prototype.bind method and replaces it later. I think we need to use the ```apply``` function instead the ```bind```, because it fixes error and [works faster](http://jsperf.com/bind-apply).

[2016-01-18 13:22] inikulin commented on #359
@LavrovArtem Yes. We need `eslint-hammerhead` rule as well.

[2016-01-18 13:23] inikulin commented on #359
BTW, we have a `fastApply` implemented: https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/code-instrumentation/methods.js#L87. Let's move it to utils, so it can be reused

[2016-01-18 13:26] LavrovArtem commented on #359
ok

[2016-01-18 13:46] LavrovArtem commented on #359
@inikulin see http://jsperf.com/bind-apply, ```fastApply``` is slower

[2016-01-18 13:55] inikulin commented on #359
@LavrovArtem No, if it's used inline: http://jsperf.com/call-apply-optimization

[2016-01-18 13:55] inikulin commented on #359
You can even speed it up by passing the actual method instead of method name

[2016-01-18 14:02] LavrovArtem commented on #359
But i need closure for replace the bind function
https://github.com/DevExpress/testcafe-hammerhead/pull/360/files#diff-34a0bebdc3e2da8d60cf6769608258aeR31

[2016-01-18 14:06] inikulin commented on #359
ok, then

[2016-01-20 07:56] miherlosev opened #364 "Syntax error in task.js"
Open in Playground http://google.com
In Console you can see the error:
[code]
Also see Health Monitor run - https://testcafe-hhhm.devexpress.com/history?timestamp=1453230178869.
Passed - 0, failed - 159.

It causes because `iframeWithoutSrcTaskTemplate` rendered wrongly.

[2016-01-21 06:40] #364 closed

[2016-01-21 07:55] #359 closed

[2016-01-21 10:51] LavrovArtem opened #366 "Quotes in the cookies are not escaped when a task script for an iframe is built on the client"
http://66.55.147.18:13500/history?timestamp=1453358894078&siteUrl=http://www.flipkart.com/

[2016-01-21 14:40] churkin opened #368 "The getIframeByElement function works incorrectly for the nested iframes"

[2016-01-21 15:19] #366 closed

[2016-01-22 11:24] #358 closed

[2016-01-25 09:42] LavrovArtem opened #371 "Wrong url resolving for page with <base> tag"
http://66.55.147.18:13500/history?timestamp=1453575754575&siteUrl=http://www.alibaba.com/

Test for reproduction:

[code]

[2016-01-25 09:46] churkin opened #372 "Embedded iframe without src is not processed in the firefox"
[code]

Use `utils/dom-test.js/getIframeByElement` for fix testing

[2016-01-25 09:55] inikulin opened #373 "Uncaught TypeError: Cannot read property 'performance' of null"
Reproduces permanently: http://66.55.147.18:13500/history?timestamp=1453462167132&siteUrl=http://www.constantcontact.com/next?s_tnt=56324:4:0

[2016-01-25 11:31] #368 closed

[2016-01-25 14:11] miherlosev commented on #371
I am working on this

[2016-01-26 11:51] miherlosev commented on #371
On client side we don't use value of the `<base>` tag for url resolving.

[2016-01-27 09:17] miherlosev opened #375 "Support error generation on wrong method calling"
For example, we should throw `TypeError` on the following instructions:
`document.getElementById()`
`document.querySelectorAll()`
etc.

We should throw errors as a native methods.
Need to check all overriden methods in all sundboxes.

[2016-01-27 12:50] LavrovArtem opened #377 "Our iframe-task.js comes to an advertising iframe with status 500 because it doesn't have the referer header"
* http://66.55.147.18:13500/history?timestamp=1453883877849&siteUrl=http://kakaku.com/
* http://66.55.147.18:13500/history?timestamp=1453883877849&siteUrl=http://www.milliyet.com.tr/

[2016-01-27 12:50] #347 closed

[2016-01-27 13:20] LavrovArtem commented on #377
Server for reproduction:
[code]

[2016-01-27 13:27] LavrovArtem commented on #377
```sandbox="allow-scripts allow-same-origin"``` fix problem

[2016-01-27 14:18] helen-dikareva opened #379 "Error occurs in _getEventListenerWrapper method in IE11"
Added listener doesn't have 'call' method after removing related element

[2016-01-27 14:25] churkin commented on #379
I researched the issue and came to the conclusion that this is an internal IE bug. It is described here https://github.com/angular/zone.js/issues/150. I propose to do the same fix https://github.com/angular/zone.js/pull/155.

[2016-01-28 07:32] miherlosev opened #382 "MethodCallInstrumentation - move code to overriden methods"
We have a `methodCallInstrumentation` for methods which are already overriden.
For example:
`querySelector`,
`querySelectorAll`,
`write`
`writeln`

We can to move code from `methodCallInstrumentation` to appropriate overriden methods.
After it will be done `methodCallInstrumentation` will contain the code only for `postMessage`.
If we can override `postMessage` then we can to delete `methodCallIns

[2016-01-28 09:32] inikulin commented on #382
Where? In ShadowUI, I guess?

[2016-01-28 10:52] miherlosev commented on #382
In ShadowUI too.

Instrumented methods - https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/code-instrumentation/methods.js
Overrided methods:
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/document.js#L167
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/document.js#L171
https://github.com/De

[2016-01-29 09:37] #379 closed

[2016-01-29 13:35] churkin commented on #373
@LavrovArtem  If a server in the response to a form submission returns a 204 status, then the browser remains in the same page. Our proxy always returns a 200 status, so unnecessary redirect occurs.

[2016-01-29 16:02] miherlosev opened #384 "'Can't execute code from a freed script' error for document.write in iframe with same-domain src"
Test for reproduce:
[code]

[code]

Only in IE and Edge.

[2016-01-29 16:29] miherlosev commented on #384
I'm working on this

[2016-02-01 12:16] miherlosev opened #385 "ElementSandbox refactoring"
After with discussing with @churkin we decide to do as follows:
- [ ] add event `DomMutation` or `NodeMutation` with 2 parameters `(node, type)`. Type can be Added, Remove or Updated.
  Move logic from `BODY_CONTENT_CHANGED_EVENT`, `BODY_CREATED_EVENT` to this event.
- [ ] 2)remove ShadowUI.onBodyElementMutation (use the event from point 1).
- [ ] 3)`ElementSandbox.onElementAdded`.  Investigate wh

[2016-02-01 14:22] LavrovArtem opened #387 "The markup of the advertising banner is broken on http://www.rediff.com"
![image](https://cloud.githubusercontent.com/assets/5373460/12719411/ed648e64-c905-11e5-8c5c-55dd88fd4b64.png)

Code that create banner:
[code]

[2016-02-02 08:09] #371 closed

[2016-02-02 08:12] miherlosev commented on #382
We cannot override `postMessage` in IE11.
So, MethodCallInstrumentation will contain only code for `postMessage`.
Code for another methods will move to appropriate sandboxes.

[2016-02-02 10:03] miherlosev commented on #20
done in #383 pull request

[2016-02-02 10:03] #20 closed

[2016-02-02 10:53] AndreyBelym opened #389 "JavaScript errors when task.js contains special sequences"
There are sequences starting with `$` sign, that  have a special meaning and can be used in second argument of [String.prototype.replace](https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/String/replace#Specifying_a_string_as_a_parameter), and will transform output of replace. So according to code in [/src/client/sandbox/iframe.js](https://github.com/DevExpress/testcafe

[2016-02-02 11:08] miherlosev opened #390 "Extremely slow proxing pages with 302 http status code"
Open http://kinozal.tv/ in playground.
Open http://kinozal.tv/ without proxing.

With proxing page will loaded after 45 sec.
Without proxing - about 100 ms.

See video - http://screencast.com/t/BfrixaXWUM

[2016-02-02 11:16] miherlosev commented on #390
I'm working on this

[2016-02-02 11:34] LavrovArtem commented on #387
I'm working on this

[2016-02-02 12:37] churkin commented on #389
I'm working on this

[2016-02-02 13:21] miherlosev commented on #390
If destination request has 301, 302 status code we should not to perfom processing strategy calculation,  fetching destination body, processing it, etc.
We need to send responce headers and finish request.

[2016-02-02 13:32] churkin commented on #390
@miherlosev Pay attention to:

https://tools.ietf.org/html/rfc2616#section-10.3.2

`The new permanent URI SHOULD be given by the Location field in the
   response. Unless the request method was HEAD, the entity of the
   response SHOULD contain a short hypertext note with a hyperlink to
   the new URI(s).`

[2016-02-02 13:32] #373 closed

[2016-02-02 13:39] #389 closed

[2016-02-03 10:49] AndreyBelym opened #395 "Exception on server if an empty file input was inserted with 'appendChild'"
When a file input is inserted with `appendChild`, it [calls](https://github.com/DevExpress/testcafe-hammerhead/blob/e65bec4bb58a23006d3328a749301531b3f1d90a/src/client/sandbox/node/element.js#L234) `_onElementAdded` and it [calls](https://github.com/DevExpress/testcafe-hammerhead/blob/e65bec4bb58a23006d3328a749301531b3f1d90a/src/client/sandbox/node/element.js#L357) `addFileInputInfo`. Latter [call

[2016-02-03 12:06] LavrovArtem commented on #395
I'm working on this

[2016-02-03 12:28] AndreyBelym opened #396 "Overridden 'submit' method is asychronous"
Check [here](https://github.com/DevExpress/testcafe-hammerhead/blob/8cdb7417a2a867d15263eb8be1f0a488277a0534/src/client/sandbox/node/element.js#L191). You cannot delay a form submission, because attributes like  `action` and `target` can be changed immediately after calling `form.submit` in client code.

[2016-02-03 12:31] AndreyBelym commented on #396
Duplicate of #199.

[2016-02-03 12:31] #396 closed

[2016-02-03 12:43] #387 closed

[2016-02-03 15:09] #395 closed

[2016-02-04 08:33] helen-dikareva opened #398 "Switch to Babel 6"

[2016-02-04 09:01] AndreyBelym opened #399 "Node.replaceChild doesn't handle file input elements"
You can request upload for a file input, and the replace  it with another input with help of [Node.replaceChild](https://developer.mozilla.org/ru/docs/Web/API/Node.replaceChild) before submitting. In that case a value of the second input must be submitted, but hammerhead submits file selected in the first input. So we need to override replaceChild for file inputs just the way we are overriding Nod

[2016-02-04 09:06] AndreyBelym opened #400 "Broken removeEventListener in unload sandbox"
Check [src/client/sandbox/event/unload.js](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/event/unload.js#L89): function that you are passing in removeEventListener is a new another object, you need to store handler in order to remove it.

[2016-02-04 09:36] LavrovArtem commented on #400
I'm working on this

[2016-02-04 09:49] helen-dikareva commented on #398
I'm working on this

[2016-02-04 11:36] miherlosev commented on #399
Already overriden - https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/element.js#L254

[2016-02-04 11:51] AndreyBelym commented on #399
Title and description updated.

[2016-02-04 12:54] miherlosev commented on #390
see test cases from:
https://github.com/request/request/blob/master/tests/test-redirect-auth.js
https://github.com/request/request/blob/master/tests/test-redirect-complex.js
https://github.com/request/request/blob/master/tests/test-redirect-auth.js

[2016-02-04 13:04] miherlosev commented on #399
I am working on this

[2016-02-05 09:48] miherlosev commented on #277
Behaviour changed in FF 44.
I am working on this.

[2016-02-05 10:31] AndreyBelym opened #404 "Timeout of 60s for XHRs is still too small sometimes"
Sometimes we are aborting long-polling XHR on [GridViewDemos](https://demos.devexpress.com/ASPxGridViewDemos/DataBinding/LargeDatabase.aspx), that waits while server creates a large database. Speed of the process depends on VM performance on farm, so sometimes server doesn't finish database creation in 60s.

[2016-02-08 08:00] miherlosev opened #409 "CodeInstrumentation for document.write, document.writeln is not used"
We have wrong condition `document => !isDocument(document),` for `document.write`, `document.writeln`.

Code fragment:
[code]

in https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/code-instrumentation/methods.js#L54

[2016-02-08 08:04] miherlosev commented on #409
I'm working on this

[2016-02-08 10:00] churkin opened #410 "Unstable message sandbox test"
`sandbox/event/message-test.js`, `timeout` test.

See #404

[2016-02-08 12:19] miherlosev opened #411 "document.writeln adds uncessary \r for multiple parameters call"
Test code
[code]
Result without proxing:
[code]
Result with proxing:
[code]

[2016-02-08 12:21] miherlosev commented on #411
I'm working on this

[2016-02-08 14:17] miherlosev commented on #277
fixed in PR https://github.com/DevExpress/testcafe-hammerhead/pull/406

[2016-02-08 14:17] #277 closed

[2016-02-08 15:26] #400 closed

[2016-02-09 06:53] #382 closed

[2016-02-09 06:58] miherlosev commented on #411
fixed in https://github.com/DevExpress/testcafe-hammerhead/pull/412

[2016-02-09 06:58] #411 closed

[2016-02-09 06:58] miherlosev commented on #409
fixed in https://github.com/DevExpress/testcafe-hammerhead/pull/412

[2016-02-09 06:58] #409 closed

[2016-02-09 07:35] miherlosev commented on #410
I'm working on this

[2016-02-09 09:02] miherlosev commented on #410
Test code:
[code]

Problem in `document.body.appendChild(iframe);`.
Sometimes for iOS emulator this operation have take a long time (150, 200 and even 250 ms).

If `messageSandbox.pingIframe` can be used for non-added to DOM iframe then we will increase timeout.
If not, then I will move `document.body.appendChild(iframe);` before `window.setTimeout`.
@AlexanderMoskovkin

[2016-02-09 09:11] churkin commented on #410
@miherlosev make a conditional waiting

[2016-02-09 10:23] AlexanderMoskovkin commented on #410
It can be. But I agree with @churkin , maybe we should wait while the iframe is in dom and the try to ping it?

[2016-02-09 10:38] AlexanderMoskovkin commented on #410
Let's split the test to two scenarios:
1) Ping an iframe when it is not in the DOM
2) Ping an iframe that is appended to `body`

[2016-02-09 13:36] miherlosev opened #415 "Setting up an href attribute for a non-added to DOM "base" tag should not cause urlResolver to update."
see https://testcafe-hhhm.devexpress.com/history?timestamp=1455001095958&siteUrl=http://www.microsoft.com/ru-ru/default.aspx

[2016-02-09 13:40] miherlosev commented on #390
Also for http://www.wp.pl site: withproxy - 27 sec, without - 2.5 sec

[2016-02-09 13:49] miherlosev commented on #415
I'm working on this

[2016-02-10 07:16] LavrovArtem opened #416 "Multiple document.write works incorrectly"
[code]
![image](https://cloud.githubusercontent.com/assets/5373460/12940970/1791fe1c-cfdf-11e5-922b-ea82fd246c18.png)

[2016-02-10 12:53] miherlosev commented on #177
It is performing in background.
For example, `mesageSandbox.setPingIframeTimeout` removed in https://github.com/DevExpress/testcafe-hammerhead/pull/414

[2016-02-10 12:53] #177 closed

[2016-02-10 12:55] #399 closed

[2016-02-10 14:35] miherlosev opened #418 "Script error in http://www.quikr.com/"
see [here](https://testcafe-hhhm.devexpress.com/history?timestamp=1455044574967&siteUrl=http://www.quikr.com/)
Error is raised after overriding element
[code]

more details is coming...

[2016-02-11 09:30] #415 closed

[2016-02-11 09:57] LavrovArtem commented on #390
I'm working on this

[2016-02-11 10:05] miherlosev opened #420 "Health Monitor History Page: mark reproduced errors"

[2016-02-11 10:55] AndreyBelym opened #421 "Call to 'body.appendChild' with 'body' from an another iframe inserts element to wrong 'body'"
When an iframe is initializing [through IFRAME_DOCUMENT_CREATED_EVENT](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/index.js#L97), a top-level `DocumentSandbox` will be attached to it. So, when you call methods like `iframe.contentDocument.open`, top-level sandboxes will be reattached to the `iframe` on [DOCUMENT_CLEANED_EVENT](https://github.com/DevExpress

[2016-02-11 11:05] miherlosev opened #422 "Script error after setting relative url value to the "base" tag's href attribute"

[2016-02-11 11:26] #410 closed

[2016-02-11 13:38] miherlosev commented on #421
I am working on this

[2016-02-11 14:19] miherlosev commented on #421
Open in playground http://demos.devexpress.com/ASPxHtmlEditorDemos/ClientSideAPI/ClientSideCommands.aspx.
Reproduced in FF.
IE11, Chrome - all right.

[2016-02-12 08:50] miherlosev commented on #421
Script error is reproduced in IE without hammerhead ([T344908](https://isc.devexpress.com/Thread/WorkplaceDetails/T344908))

[2016-02-15 12:43] #404 closed

[2016-02-15 14:19] #422 closed

[2016-02-15 15:12] miherlosev commented on #421
Simple example:
[code]

[2016-02-16 07:28] miherlosev opened #424 "Perfomance optimization"
Lately health monitor is indicate perfomance problems.
We need to:
1)Profile client script and find bottlenecks
2)For some functions is need to get rid of iterative algorithm.
For example  `isElementInDocument` from /src/client/utils/dom.js.

[2016-02-16 13:45] miherlosev commented on #424
I'm working on this

[2016-02-17 12:54] #421 closed

[2016-02-17 15:36] miherlosev commented on #418
Error is not reproduced in last runs of the Health Monitor.

[2016-02-17 15:36] #418 closed

[2016-02-18 09:16] miherlosev opened #431 "Script error in test/client/fixtures/utils/dom-test.js"
Error occurs in test for #114 issue.

[2016-02-18 10:09] #431 closed

[2016-02-19 07:20] miherlosev opened #433 "IE11. Permission denied error for http://www.zillow.com/"
[code]

[2016-02-19 09:54] miherlosev opened #434 "SVG: xlink:href attribute value is not proxed"
see https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/xlink:href.
If xlink attribute value contains external url we should to proxy its value.

Example:
[code]

On example page there is the blue rectangle.
If you open this page using playouground then blue rectangle don't display.

[2016-02-19 10:04] miherlosev commented on #345
I'm working on this

[2016-02-19 11:06] miherlosev opened #435 "Regression: script error on adding document comment to DOM"
Example
[code]

[2016-02-19 14:08] AndreyBelym commented on #345
I wrote a test page, but wasn't able to fully separate it from DX ASP Demos. So you need to run DevAV demos at `http://localhost/DevAV` first, and then place the following content in `SITE_ROOT\*.html`.
[code]
[Check this video](https://goo.gl/PymVqj) to see how to reproduce the bug;

[2016-02-19 14:36] miherlosev commented on #435
Issue reproduced for `documentFragment` node. Need to refix.

[2016-02-19 15:55] #435 closed

[2016-02-20 09:14] miherlosev opened #438 "Web Platform Test: improve regression calculation"
Now:
We calculate the regression value on the basis of the current and previous runs.

Should:
We should calculate the regression value on the basis of all runs.

[2016-02-20 11:22] miherlosev opened #439 "Input files is added via documentFragment don't update hidden info"
Example to reproduce:
[code]

[2016-02-20 15:36] miherlosev commented on #439
I was wrong. All works right.

[2016-02-20 15:36] #439 closed

[2016-02-24 11:51] AndreyBelym opened #442 "Hammerhead should not focus an element in Firefox, if it is invisible."
Firefox does not focus elements if they or their parents have `display: none` in CSS. Also, if you call `element.focus()` and the element is inside an invisible iframe, the iframe will not be active in top document, and the element will not be active in iframe's document.

`index.html`:
[code]

`inside-iframe.html`:
[code]

[2016-02-25 12:47] churkin opened #444 "Hammerhead crashes if client-side code contains document.cookie = null or document.cookie = undefined"
[T349254](https://isc.devexpress.com/Thread/WorkplaceDetails/T349254)

[2016-02-25 12:51] inikulin commented on #444
@churkin we should do `String(val)` before processing, e.g.: https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/living/nodes/Document-impl.js#L694

[2016-02-25 12:58] churkin commented on #444
@inikulin  It seems that `null` is exception

[2016-02-25 13:47] #444 closed

[2016-02-26 10:08] AndreyBelym opened #446 "DestinationRequest should emit fatal error on ECONNREFUSED"
Now fatal error is emitted only if requests to a destination emits an ENOTFOUND. But if requested server is down, an another error - ECONNREFUSED - will be emitted. So we should consider ECONNREFUSED a fatal error too.

[2016-02-26 10:12] inikulin commented on #446
Is this related to DevExpress/testcafe#367?

[2016-02-26 10:16] AndreyBelym commented on #446
Yep, I will add a comment in the `testcafe` issue.

[2016-02-26 14:16] #446 closed

[2016-02-29 06:31] LavrovArtem commented on #377
When the browser receives status 302 and the `location` header, it immediately sends a new request without waiting for the old request to complete.
It takes http://kinozal.tv/ 46 seconds to complete its response. Since the headers arrive immediately, the browser starts loading a url from the `location` header at that moment.
An issue with Hammerhead is that headers are sent only after the body is

[2016-02-29 06:32] LavrovArtem commented on #390
When the browser receives status 302 and the `location` header, it immediately sends a new request without waiting for the old request to complete.
It takes http://kinozal.tv/ 46 seconds to complete its response. Since the headers arrive immediately, the browser starts loading a url from the `location` header at that moment.
An issue with Hammerhead is that headers are sent only after the body is

[2016-02-29 08:39] inikulin commented on #390
@LavrovArtem What's pros and cons of each approach? Is there any sufficient cons for each approach that don't allow you to decide yourself?

[2016-02-29 09:31] LavrovArtem commented on #390
@inikulin
For first way:
\+ absence cons of the second way
\- we decide whether to continue to load the response body or not

For second way:
\+ browser independently decides when to start his redirect
\-  issue with the `content-length` header value - we can determine it only after the resource body is processed

I think that second way is better, but i don't know how solve issue with `content-le

[2016-02-29 09:32] inikulin commented on #390
Me neither

[2016-02-29 09:37] churkin commented on #390
So we choose the first option

[2016-02-29 13:59] #398 closed

[2016-03-01 07:50] inikulin opened #449 "We have an incomplete list of script MIMEs in content utils"
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/utils/content-type.js#L13

Here is the complete list:
https://html.spec.whatwg.org/#javascript-mime-type

[2016-03-01 11:05] #449 closed

[2016-03-02 11:05] #442 closed

[2016-03-02 13:13] LavrovArtem opened #453 "Duplicate declaration the isTextNode function in src/client/utils/dom.js"
It is strange, that eslint didn't detect it. It needs to understand why it happened.

[2016-03-03 08:45] #453 closed

[2016-03-04 10:17] #390 closed

[2016-03-04 11:45] #345 closed

[2016-03-09 14:34] miherlosev commented on #179
I'm working on this

[2016-03-09 15:03] churkin opened #462 "Health Monitor - js errors on the https://www.fiverr.com/ site"

[2016-03-09 15:13] churkin commented on #462
@inikulin  I found out that the site is actively used working with prototypes (`Document`, `XMLHttpRequest`...). We can not fix this currently inexpensively. I propose to wait for another site with a similar problem.

[2016-03-10 07:13] miherlosev opened #463 "Script error on http://sidex.ru/"
https://testcafe-hhhm.devexpress.com/history?timestamp=1457550274507&siteUrl=http://sidex.ru/
We are trying to proxy unsupported protocol - `viber://`.

[2016-03-10 08:23] churkin opened #464 "Optimization - try to get rid of 'overrideElement' methods using prototypes"

[2016-03-10 08:33] churkin opened #465 "Check all of the client code to not native methods using"

[2016-03-10 09:37] miherlosev commented on #463
I'm working on this

[2016-03-10 12:48] miherlosev commented on #434
The bug presents on the http://www.getresponse.ru/ site.

[2016-03-10 12:59] miherlosev opened #467 "Script error inside DomUtils.isDocument"
Reproduced for http://www.reddit.com/ site.

[2016-03-10 12:59] miherlosev commented on #467
I'm working on this

[2016-03-11 11:54] helen-dikareva opened #469 "Get rid of deep search in getActiveElement method"
We no longer need serch active element insede iframes

[2016-03-11 11:56] helen-dikareva commented on #469
I'm working on it

[2016-03-11 12:19] LavrovArtem opened #471 "The getProxyUrl client function works incorrectly"
[code]

[2016-03-11 12:19] LavrovArtem commented on #471
I'm working on this

[2016-03-11 13:56] #469 closed

[2016-03-11 14:21] #463 closed

[2016-03-11 20:47] inikulin opened #474 "A lot of 404 errors in HHM"
Seems like the cause is #466

[2016-03-14 06:01] miherlosev commented on #474
I'm working on this

[2016-03-14 08:24] LavrovArtem commented on #416
I'm working on this

[2016-03-14 10:18] miherlosev commented on #424
Some perfomance optimizations were done.
Next perfomance optimizations were accomplished as separate issues.

[2016-03-14 10:18] #424 closed

[2016-03-14 11:55] miherlosev commented on #464
I'm working on this.

[2016-03-14 12:02] #474 closed

[2016-03-15 06:58] miherlosev commented on #467
Also for https://moz.com/

[2016-03-15 08:25] miherlosev opened #477 "SVG: xml: base attribute value is not proxed"
Reproduced on http://livejournal.ru only in FF.

see video - http://screencast.com/t/H1GuAQs3q

[2016-03-15 09:04] LavrovArtem opened #478 "The document.scripts HTMLCollection is not overridden"

[2016-03-15 10:57] churkin opened #479 "The client code gets access to the Hammerhead script"
Client code:

[code]

After that `div.childNodes` contains hammerhead service script.

See https://isc.devexpress.com/Thread/WorkplaceDetails/T352264

[2016-03-15 11:14] inikulin commented on #479
This is weird and not per spec. Is this browser specific?

[2016-03-15 11:28] churkin commented on #479
This expression

[code]

must return `[<div id="test"></div>]`

But the Hammerhead adds our script `[<div id="test"></div>, <script style="hammerhead"></script>]`

[2016-03-15 11:28] churkin commented on #479
In all browsers

[2016-03-15 11:41] inikulin commented on #479
@churkin I see now, thanks

[2016-03-17 09:17] miherlosev commented on #465
I'm working on this

[2016-03-17 09:31] miherlosev opened #481 "Element.closest is not overriden"
After fix we need to rewrite `domUtils.closest` using native methods.

[2016-03-17 09:51] miherlosev opened #482 "Element.classList is not overriden"
After fix we need to rewrite `domUtils.addClass`, `domUtils.removeClass`, `domUtils.hasClass` using native methods.

[2016-03-17 14:27] #479 closed

[2016-03-17 15:00] AlexanderMoskovkin opened #484 "'uuid' generates the same id for different sessions sometimes"
Our TestCafe functional tests sometimes fail with a strange error (rarely but regularly). @georgiy-abbasov have found it happens because `hammerhead` sets identical ids for different sessions [here](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/session/index.js#L32) ([proof](http://screencast.com/t/GlTNsseXCRF))

We should do something with this. We can just add some symbols to

[2016-03-17 15:12] AlexanderMoskovkin commented on #484
https://github.com/broofa/node-uuid/issues/117 Looks as the same

[2016-03-17 15:20] inikulin commented on #484
Just use https://github.com/dylang/shortid

[2016-03-17 15:29] AlexanderMoskovkin commented on #484
@georgiy-abbasov please take this

[2016-03-18 10:38] #484 closed

[2016-03-21 10:50] #464 closed

[2016-03-21 13:20] miherlosev opened #489 "window.XMLHttpRequest.prototype.send refactoring"
Overriden method has the code fragment:
[code]
IE6, IE7 is not supported browsers.
Investigate this case. If it is need then update the comment.

[2016-03-21 13:21] inikulin commented on #489
I don't think so

[2016-03-21 13:29] miherlosev commented on #489
Updated.

[2016-03-21 15:55] #462 closed

[2016-03-22 07:57] miherlosev opened #490 "window.FontFace is not overriden"
Specification - https://drafts.csswg.org/css-font-loading/#FontFace-interface
Reproduced on https://badoo.com/ as script error in Console:
[code]

[2016-03-22 10:03] miherlosev opened #492 "Infinite 'set-cookie' service messages on http://www.alibaba.com/"
Open site in playground and switch to  Network Tab in the Browser console.

[2016-03-22 10:47] miherlosev commented on #490
window.FontFace supported only for Chrome and Firefox (https://developer.mozilla.org/ru/docs/Web/API/FontFace)

[2016-03-22 11:03] churkin commented on #490
@miherlosev What is the problem? :)

[2016-03-23 06:46] miherlosev commented on #490
@churkin  change your code
from
[code]
to
[code]

[2016-03-23 06:52] miherlosev opened #494 "Try to get rid domProcessor.processElement from NodeSandbox._processElement"

[2016-03-23 07:32] miherlosev commented on #494
We cannot remove `domProcessor.processElement` from `NodeSandbox._processElement` because we setup default attribute values (for example `autocomplete=off`) on element creation.

[2016-03-23 13:47] miherlosev commented on #490
fixed in https://github.com/DevExpress/testcafe-hammerhead/pull/495

[2016-03-23 13:47] #490 closed

[2016-03-23 15:21] #494 closed

[2016-03-24 10:20] inikulin opened #498 "We need sandbox for the fetch API"
[Fetch](https://fetch.spec.whatwg.org/) is a modern replacement for the XHR. It's already implemented in Chrome and FF and polyfill exists. So seems like it's start to appear in the wild: https://testcafe-hhhm.devexpress.com/history?timestamp=1458801307399&siteUrl=http://www.flipkart.com/

[2016-03-25 08:03] #465 closed

[2016-03-25 09:16] miherlosev commented on #434
I'm working on this

[2016-03-25 12:00] #467 closed

[2016-03-25 14:11] miherlosev opened #500 "Rewrite DomProcessor tests"
We should rewrite domProcessor tests (https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/fixtures/sandbox/node/dom-processor-test.js).
Need to rewrite html element creation in tests using native methods because after pull request #496 tests don't check that it must.

[2016-03-25 14:19] miherlosev commented on #500
I'm working on this.

[2016-03-28 07:22] miherlosev opened #502 "Use native Promise on server and client sides (if it's possible)"
On client side: only IE has not `Promise` support.
On server side: only node v 0.10 has not `Promise` support.

[2016-03-28 08:24] inikulin commented on #502
Nope. On client it can be overriden, so we need isolated impl

[2016-03-28 08:29] miherlosev commented on #502
We will use a native browser implementation.

Pseudo code
[code]

[2016-03-28 09:37] inikulin commented on #502
Native browser implementation behavior can be adjusted. We can't rely on it. Btw what the point to switch to native impl?

[2016-03-28 09:42] miherlosev commented on #502
Please, provide examples.

Btw what the point to switch to native impl?
Perfomance optiomization.

[2016-03-28 09:54] #500 closed

[2016-03-28 10:04] miherlosev commented on #502
V8 promises implementation is written in JavaScript.
We will not obtain perfomance boost if it will use on server side.
http://programmers.stackexchange.com/questions/278778/why-are-native-es6-promises-slower-and-more-memory-intensive-than-bluebird#answer-279003.

[2016-03-28 10:04] #502 closed

[2016-03-29 08:12] miherlosev opened #504 "Override form.submit and expose 'BEFORE_SUBMIT' event"
see https://github.com/DevExpress/testcafe/pull/405#discussion-diff-57678009

[2016-03-29 08:24] AlexanderMoskovkin commented on #504
Just a reminder for me: use this event in [`testcafe.pageUnloadBarrier`](https://github.com/DevExpress/testcafe/pull/405/files/d4ff8c02e71de1dc376b30ff34ad1241a6eae3f8#diff-6615c0ea3b8b4c303df96bf8852148c5R30) when it's published

[2016-03-30 10:13] miherlosev commented on #498
I'm working on this

[2016-03-30 11:32] miherlosev opened #506 "Drop browserUtils.isOpera, browserUtils.isOperaWithWebKit"
Opera has moved to WebKit in 2013 year.
We don't test Hammerhead in Opera.
@inikulin Do you have any contraindications?

[2016-03-30 12:25] miherlosev opened #507 "Remove shared typeUtils and revert code to inline type checking"

[2016-03-31 06:26] miherlosev commented on #506
I'm working on this

[2016-03-31 07:31] #507 closed

[2016-03-31 09:55] inikulin commented on #339
We need 'about:error' as well (it should map to the same empty page)
\cc @miherlosev we need this ASAP

[2016-03-31 10:01] #506 closed

[2016-03-31 10:48] miherlosev commented on #339
I'm working on this

[2016-03-31 11:58] #434 closed

[2016-04-01 11:24] miherlosev opened #512 "Regression: wrong override for window.history.pushState and window.history.replaceState"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1459461826437&siteUrl=http://ask.fm/

[2016-04-01 13:09] miherlosev commented on #512
fixed in https://github.com/DevExpress/testcafe-hammerhead/pull/513

[2016-04-01 13:09] #512 closed

[2016-04-02 15:13] miherlosev opened #514 "Regression: script error inside SVGElement.setAttributeNS"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1459537468694&siteUrl=http://badoo.com/
Related to https://github.com/DevExpress/testcafe-hammerhead/pull/503

[2016-04-04 07:04] miherlosev commented on #514
I'm working on this

[2016-04-04 10:52] churkin commented on #504
I'm working on this

[2016-04-04 12:12] #504 closed

[2016-04-04 13:11] churkin commented on #375
I'm working on this

[2016-04-04 13:15] inikulin commented on #375
BTW, how you suppose to do that? I remember we've talked about it. But the best to do that will be passing arguments to the native methods, so it will throw. Because it will be nearly enormous task to perform all checks on our side.

[2016-04-04 13:25] churkin commented on #375
@inikulin  I'll check all of the methods that the parameters transferred to the native method as is

[2016-04-04 13:46] #492 closed

[2016-04-04 14:40] #471 closed

[2016-04-05 12:58] churkin commented on #375
@inikulin @miherlosev We have replaced all '.apply' using to the '.call' for the optimization. It will not allow to pass parameters in its original form. It is also difficult to write tests. Are we ready to sacrifice performance and a heap of extra code for this issue?

[2016-04-05 13:40] inikulin commented on #375
@churkin How it prevent this feature to be implemented? Can you show any example?

[2016-04-05 13:53] churkin commented on #375
Now
[code]
After
[code]

[2016-04-05 14:28] inikulin commented on #375
Ok, now I get it. Let's try using apply. I'm not sure if we will have any significant performance change.

[2016-04-06 11:07] AlexanderMoskovkin opened #519 "Add clearTimeout and clearInterval functions to nativeMethods"
[code]

[2016-04-06 12:20] #514 closed

[2016-04-06 15:25] AlexanderMoskovkin opened #521 "PageProcessor parse binaries as a html page"
Reproduces in the playground when try to download a file.

For example reproduced on the http://testcafe.devexpress.com page
Click `Download TestCafe` button.
We have the following `Content-Type` in response: `application/octet-stream`

But `RequestPipelineContext.isPage`  is `true` because it depends on request headers ([see here](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/

[2016-04-06 17:34] inikulin commented on #504
Does it fire when `<input type="submit">` clicked?

[2016-04-06 17:35] inikulin commented on #504
Same question regarding `formSubmit` in which we put cookies in form.

[2016-04-07 09:54] inikulin opened #522 "Shadow UI improvement"
Since now we will not use any complicated interface and we don't need `<table>`, `<ul>` etc. Maybe we should use custom elements for the shadowUI? Our custom elements will have prefix like `<hammerhead-shadow-div>`. Benefits:
- tag-level CSS rulest on page will not affect our tags (except `*`), this will reduce number of UI bugs
- is shadow element lookup will take linear time (https://github.com/

[2016-04-07 10:00] churkin commented on #522
I think we can try, at first glance do not see any problems

[2016-04-07 10:05] AlexanderMoskovkin commented on #522
It this works in all supported browsers? As I see at [caniuse](http://caniuse.com/#feat=custom-elements) there are problems with this

[2016-04-07 10:09] inikulin commented on #522
@AlexanderMoskovkin There is a little confusion here: caniuse shows information about this feature: http://www.html5rocks.com/en/tutorials/webcomponents/customelements/. I mean we can just use custom tag names - they will be parsed just fine by all browsers

[2016-04-07 10:14] AlexanderMoskovkin commented on #522
get it. We can try

[2016-04-07 11:06] #519 closed

[2016-04-07 13:39] AndreyBelym opened #525 "Hammerhead initialization fails in IE after document.write"
A `cannot execute code from freed script` exception is raised when evaluating task script in iframe, after `document.write` was called. Also bad thing is that the error is silently swallowed, because it is thrown on [RUN_TASK_SCRIPT event](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/iframe.js#L94), and event emitter just ignores `freed script` errors (https://g

[2016-04-07 19:22] inikulin opened #526 "Regression - gmail.com hangs on login"

[2016-04-08 11:51] miherlosev opened #528 "Try to get rid CodeInstrumentation for properties using Object.defineProperty"
see example (from browser console):
[code]

[2016-04-08 13:12] #375 closed

[2016-04-08 13:17] LavrovArtem commented on #526
incorrectly works urlResolver
I'm working on this

[2016-04-08 13:27] churkin commented on #525
I'm working on this

[2016-04-08 13:31] churkin commented on #247
I'm working on this

[2016-04-08 13:41] miherlosev opened #529 "Regression: wrong work events for element created in top window and added to an iframe"
Found in testcafe test [B253200 - TestCafe doesn\'t emulate browsers behavior for press "enter" key on the focused HyperLink editor (link with href)](https://github.com/DevExpress/testcafe/blob/9708c51f4aca2876d896c3031894e2174f3f43b4/test/client/fixtures/runner/api/press-test.js#L306)'
Related to [get rid NodeSandbox.overrideElement function] (https://github.com/DevExpress/testcafe-hammerhead/pul

[2016-04-08 13:43] miherlosev commented on #529
I'm working on this

[2016-04-08 16:03] inikulin commented on #528
It will throw security exceptions in Safari. That's why we've switched to instrumentation at some point of the time.

[2016-04-12 07:46] miherlosev opened #532 "Split browserUtils.isIE to browserUtils.isIE and browserUtils.isMSEdge"
In `browserUtils` we have the following code:
[code]
It is wrong - MSEdge is not IE. MSEdge has a different rendering and script engines and a lot of different things.
So we need to split `browserUtils.isIE` to `browserUtils.isIE` and` browserUtils.isMSEdge`.

This condition is used in many places in `hammerhead` and `testcafe`. So we should decide it together.
@DevExpress/testcafe

[2016-04-12 07:51] miherlosev opened #533 "Check all places where we perform writing/reading to window or document"
Element can be created in top level window and then added to an iframe.

[code]

If we directly read / write to `window` or `document` in our code and it used for elements - it is a bug.
(for example see https://github.com/DevExpress/testcafe-hammerhead/issues/529).
So we need to check all our code and fix wrong behaviour.

[2016-04-12 09:44] helen-dikareva commented on #532
I agree that Edge is brower with different engines  and we have checks like this in code `isIE && !MSEdge` but checks just `isIE` three times more so that in most cases IE and MSEdge behave the same. I think we can still return true for `isIE` check for MSEdge.

[2016-04-12 11:01] #526 closed

[2016-04-12 14:16] AndreyBelym commented on #525
Test page:
[code]
Content of `iframe.html` doesn't matter, it may be even not HTML, just a plain text. Start `playground` and load the page. Click on submit button, and two 'freed script' errors will be raised.

[2016-04-12 14:26] AndreyBelym opened #534 "Wrong task script injected in iframe HTML"
A regular `task.js` instead of `iframe-task.js` is injected into iframe page, when using a `form` with `target` attribute that is initially empty, but is later specified through JS.

Example:
Test page:
[code]
Content of `iframe.html` doesn't matter, it may be even not HTML, just a plain text. Start `playground` and load the page. Click on submit button, and check the head of iframe's document. It

[2016-04-12 20:14] inikulin commented on #532
AFAIK they have different versions of same engines. Is it really bites us somehow at the moment?

[2016-04-13 06:55] miherlosev commented on #532
It is not big problem now.
It needs for more redable code. There are few places where it was good.
For example:
https://github.com/DevExpress/testcafe-hammerhead/blob/bb022853b2a9ab1008749289d8645ca65239af03/src/client/sandbox/event/focus-blur.js#L75
https://github.com/DevExpress/testcafe-hammerhead/blob/14b6919504b49f9320c0a6f2d6695385826b628a/src/client/sandbox/timers.js#L23
https://github.com/D

[2016-04-13 10:14] churkin commented on #534
I'm working on this

[2016-04-13 10:47] churkin commented on #532
@miherlosev Where the condition right now is
`if(isIE) { .... }`
will you replace by `if (isIE && MSEdge)` or by `if (isIE && !MSEdge)`? :)

I'm afraid we'll get a lot of problems later.

[2016-04-13 10:58] miherlosev commented on #532
I agree with you.

[2016-04-13 10:58] #532 closed

[2016-04-13 11:32] #339 closed

[2016-04-13 11:34] #529 closed

[2016-04-13 12:30] miherlosev commented on #528
I tried on Safari 8.0.7 - all works good.

[2016-04-13 12:35] miherlosev commented on #498
- [ ] proxy fetch requests (cors, basic, opaque)
- [ ] create fetch barrier (testcafe part)

[2016-04-13 12:40] churkin opened #535 "Range.createContextualFragment is not overriden"

[2016-04-13 13:08] churkin commented on #535
I'm working on this

[2016-04-13 14:05] LavrovArtem commented on #478
I'm working on this

[2016-04-13 15:14] #478 closed

[2016-04-13 15:15] AndreyBelym opened #538 "outerHTML property is not overridden"
Some ASPxEditors regression tests use it to perform markup checks.

[2016-04-13 15:18] AndreyBelym opened #539 "Cleanup stylesheets from hammerhead comment"
When you get a stylesheet HTML through `innerHTML`/`outerHTML`, there will be `/* stylesheet processed via hammerhead */` comment.

[2016-04-13 18:18] inikulin commented on #528
Interesting. It would be nice then

[2016-04-13 20:14] LavrovArtem commented on #539
[This](https://github.com/DevExpress/testcafe-hammerhead/pull/480) PR fix it.
https://github.com/DevExpress/testcafe-hammerhead/pull/480/files#diff-0ed82418a198c24aacd8e3e42d4d5566R42

[2016-04-14 07:59] LavrovArtem commented on #538
I'm working on this

[2016-04-14 10:39] #535 closed

[2016-04-14 13:44] #534 closed

[2016-04-18 09:28] #416 closed

[2016-04-18 10:47] #521 closed

[2016-04-18 11:06] LavrovArtem commented on #539
Fix in #480 PR

[2016-04-18 11:06] #539 closed

[2016-04-18 13:13] churkin commented on #372
The firefox does not generate 'load' event for an embedded iframe

[2016-04-18 13:21] churkin commented on #372
https://bugzilla.mozilla.org/show_bug.cgi?id=1265378

[2016-04-18 13:39] churkin commented on #384
Maybe it's a duplicate of https://github.com/DevExpress/testcafe-hammerhead/issues/525?

[2016-04-18 15:15] miherlosev opened #545 "Xhr request without credentials should not send cookie and authorization headers to the destination server"
Then `xhr.withCredentials=false` (it is default value) cookie and authorization headers is sended to destination server.
It is wrong.  We should manually discard it on server side before sending to the destination server.
See https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials

Files to reproduce:
[code]

[code]

[2016-04-18 15:19] miherlosev commented on #384
Probably. I will check it after fix #525

[2016-04-18 15:26] miherlosev opened #546 "Cross domain xhr requests completed without error if destination responce doesn't containt Access-Control-Allow-Origin"
Use files to reproduce from #545 issue.

[2016-04-18 18:06] miherlosev commented on #498
Waiting for #545 , #546

[2016-04-19 07:26] #538 closed

[2016-04-19 08:11] miherlosev commented on #528
I'm working on this

[2016-04-19 08:15] churkin commented on #528
@miherlosev This is not a primary goal

[2016-04-19 11:01] LavrovArtem commented on #477
I'm working on this

[2016-04-19 12:18] miherlosev commented on #528
Results of investigation:
We cannot override `length` property because we cannot get origin property value after overriding.
If we override prototype properties then we can not using it in hammerhead.
It is very bad - we cannot use inside hammerhead `firstChild, `lastChild`, `href`, `innerHtml` etc.
Overriding of the `document` and `window` properties (`activeElement`, `documentURI` etc) is not pr

[2016-04-19 12:18] #528 closed

[2016-04-19 12:23] miherlosev commented on #546
I'm working on this

[2016-04-19 14:24] #525 closed

[2016-04-20 06:04] #546 closed

[2016-04-20 07:20] LavrovArtem opened #548 "Regression - breaking markup on livejournal.com"
Regression after "Multiple document.write works incorrectly" fix

[2016-04-20 07:20] LavrovArtem commented on #548
I'm working on this

[2016-04-20 07:54] miherlosev commented on #384
Origin bug is dublicate of #525.
But in IE (I check in IE11) 'Permission denied' script error occurs.
It is raised inside DocumentWriter.
@LavrovArtem  please, investiagate it.

[2016-04-20 07:58] LavrovArtem commented on #384
I'm working on this

[2016-04-20 08:20] miherlosev commented on #545
I'm working on this

[2016-04-20 08:42] #489 closed

[2016-04-20 11:10] #548 closed

[2016-04-20 12:33] #377 closed

[2016-04-20 12:52] miherlosev opened #552 "We should remove our xhr headers before sending request"
Before sending xhr request to the destination server we should remove our custom headers (`x-hammerhead|xhr|request-marker-header`, `x-hammerhead|xhr|cors-supported-header`, etc).

[2016-04-20 13:20] miherlosev commented on #552
I'm working on this

[2016-04-20 19:39] inikulin opened #554 "Implement proper encoding name normalizaton"
Currently we have pretty trivial encoding name normalization: https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/processing/encoding/charset.js#L50

But possible encoding aliases (aka labels) are defined in HTML spec: https://encoding.spec.whatwg.org/#names-and-labels
We need use this labels table instead.

[2016-04-20 22:32] inikulin commented on #552
We already remove request marker: https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/request-pipeline/header-transforms.js#L18

AFAIK CORS flag was part of marker header, since it was set via binary flags. But then we moved to separate header we forgot to add it to the filter

[2016-04-22 09:26] miherlosev commented on #533
I'm working on this

[2016-04-25 08:26] miherlosev commented on #481
I'm working on this

[2016-04-25 08:50] miherlosev commented on #481
We should not override `Element.closest` because we cannot get shadowUI elements using `Element.closest` for non-shadowUI elements.

[2016-04-25 08:50] #481 closed

[2016-04-25 09:06] miherlosev commented on #482
I'm working on this

[2016-04-25 09:33] miherlosev commented on #482
Hammerhead related classes present only in shadow UI elements.
Client customer code can not get access to it.
So we should not override Element.classList.

[2016-04-25 09:33] #482 closed

[2016-04-26 10:52] churkin opened #558 "js error on the http://www.liveinternet.ru/"
**Code:**

[code]

**Without hammerhead:**
[code]
returns
[code]

**With hammerhead:**

After processing the ```func``` code loses new lines
[code]
and
[code]
 returns
[code]

eval throws exception

[2016-04-26 14:14] LavrovArtem commented on #384
In IE after [write](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/document/index.js#L48) we can not call any function. If we remove [this code](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/document/index.js#L51)
[code]
and [this](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/node/doc

[2016-04-26 14:38] #558 closed

[2016-04-27 09:02] #554 closed

[2016-04-27 10:46] #545 closed

[2016-04-27 10:46] #552 closed

[2016-04-29 08:48] kirovboris opened #561 "instance.toString is not a function"
[code]

[2016-05-04 09:43] #561 closed

[2016-05-04 14:11] miherlosev opened #564 "Wrong processing link that was created in non-top window and added to top window."
Files to reproduce:
### Index.js

[code]
### Index.html

[code]
### Iframe.html

[code]

[2016-05-04 14:56] #135 closed

[2016-05-04 15:20] inikulin commented on #135
@churkin we need new ticket for `function.toString()` support

[2016-05-04 15:24] inikulin commented on #135
Also we need a ticket for stack frames support for uncaught errors: we need to parse error stacks with https://github.com/stacktracejs/stacktrace.js and remove our code from stacks (code in files served via service channel and instrumented methods) then reassemble the stack. Also we need to correct line numbers in stacks.

[2016-05-05 09:39] #131 closed

[2016-05-06 08:12] LavrovArtem opened #567 "Need to update the acorn tool"
Our version of the acorn tool throws an exception when it parses the following code:
[code]
If you put a semicolon before `return` it is still parsed:
[code]

[2016-05-06 08:13] LavrovArtem commented on #567
I'm working on this

[2016-05-06 08:44] miherlosev opened #568 "Error inside UrlResolver for http://www.thefreedictionary.com/"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1462355128006&siteUrl=http://www.thefreedictionary.com/

[2016-05-06 13:17] miherlosev commented on #568
I'm working on this

[2016-05-06 15:09] #568 closed

[2016-05-10 15:32] miherlosev opened #571 "Wrong pass `this` for function constructor"
Found in https://testcafe-hhhm.devexpress.com/history?timestamp=1462872434105&siteUrl=http://shareasale.com/

Script for reproduce:
[code]

Possible cause - https://github.com/DevExpress/testcafe-hammerhead/pull/562

[2016-05-11 08:07] miherlosev commented on #498
then we need to write fetch barrier (testcafe part)

[2016-05-11 14:39] LavrovArtem opened #573 "Wrong processing of the script"
Let's consider the following script:
[code]
It is processed correctly:
[code]

But if we add a condition to this script:
[code]
What we get is:
[code]

[2016-05-11 14:43] inikulin commented on #573
weird

[2016-05-12 08:43] churkin opened #574 "Named function incorrectly processes"
[code]
-->
[code]

[2016-05-12 09:45] #574 closed

[2016-05-12 12:36] #573 closed

[2016-05-12 13:57] miherlosev opened #577 "Remove qunit test 'barrier - Skip TestCafeClient requests'"
from https://github.com/DevExpress/testcafe/blob/master/test/client/fixtures/core/xhr-barrier-test.js

This test is not actual.
Now, service messages are sent using native methods.
And so `xhrBarrier` has not code that filter service messages.

[2016-05-12 14:07] inikulin commented on #577
I believe we need to keep it to avoid possible regression when service requests can get into barrier.

[2016-05-12 14:21] AlexanderMoskovkin commented on #577
Test is useless now, at least we should decrease the [timeout](https://github.com/DevExpress/testcafe/blob/master/test/client/fixtures/core/xhr-barrier-test.js#L98) in the test because xhr-barrier has his own timeout (3ms).
I'll investiage this test deeply

[2016-05-12 15:21] AlexanderMoskovkin opened #578 "Add performance.now to nativeMethods"
https://github.com/DevExpress/testcafe/pull/529/files/cbb9a842dd0fd10a18de37dda629f6a013d0b79d#r63032463

[2016-05-13 08:31] #567 closed

[2016-05-13 09:31] #578 closed

[2016-05-13 09:49] miherlosev commented on #577
Move issue to testcafe repository - https://github.com/DevExpress/testcafe/issues/533

[2016-05-13 09:49] #577 closed

[2016-05-13 10:47] miherlosev commented on #564
I'm working on this

[2016-05-16 09:36] miherlosev opened #585 "Fix eslint error 'Parsing error: 'import' and 'export' may appear only with 'sourceType: module''"

[2016-05-16 11:04] miherlosev commented on #585
I'm working on this

[2016-05-16 14:47] miherlosev commented on #585
gulpEslint is used default parsed `espree` instead of `babel-eslint`

[2016-05-17 14:44] #585 closed

[2016-05-18 07:09] miherlosev opened #588 "Publish validation errors"
![untitled](https://cloud.githubusercontent.com/assets/4133518/15350191/7c5db6a8-1ce0-11e6-9aaa-4c288297af30.png)

[2016-05-18 07:25] miherlosev commented on #588
Waiting for https://github.com/inikulin/publish-please/issues/30

[2016-05-18 07:51] LavrovArtem opened #589 "If the url attribute is set to a relative url, it isn't reprocessed after changing the href of the base element"
[code]

[2016-05-18 08:22] inikulin commented on #588
It's not related to #30. Also, we need to upgrade to `publish-please` 2.0. It has `ignore` option for sensitive data audit. I suggest to delete `.publishrc` and gulp `publish` task and install v2 as described in README.

[2016-05-18 08:23] inikulin commented on #588
Also, setup `git bash` or `cmder` with full runtime and run it from where, to avoid `sed`-related problem

[2016-05-18 11:25] miherlosev opened #591 "Resource http://w.uptolike.com/widgets/v1/widgetsModule.js?v=a5312ff27600864378d92e743a16cd02 is not processed"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1463511795638&siteUrl=http://elementy.ru.

[2016-05-18 11:43] LavrovArtem commented on #589
I think we need to leave these urls relative somehow

[2016-05-18 12:51] #588 closed

[2016-05-18 13:51] churkin opened #593 "the CSSStyleSheet.href is not overridden"

[2016-05-19 08:08] #593 closed

[2016-05-19 08:38] miherlosev commented on #591
I'm working on this

[2016-05-19 12:00] miherlosev commented on #591
This code is not processed:
[code]
If I replace reqular expression on `true` string then all works right.

[2016-05-19 12:59] kirovboris opened #595 "Uncaught Error: Cannot read property 'length' of undefined"
On page:
http://js.devexpress.com/Demos/WidgetsGallery/#demo/data_grid-paging_and_scrolling-record_paging

[2016-05-19 13:02] miherlosev commented on #595
I'm working on this

[2016-05-19 13:52] miherlosev commented on #595
Dublicate of https://github.com/DevExpress/testcafe-hammerhead/issues/571

[2016-05-19 14:00] #595 closed

[2016-05-19 14:58] miherlosev commented on #571
I'm working on this

[2016-05-24 15:34] churkin commented on #591
`function a(){function b(){}/k/;}`

[2016-05-24 16:24] inikulin commented on #591
@churkin Acorn bug?

[2016-05-24 16:30] inikulin commented on #591
Works just fine with [Babylon](https://github.com/babel/babylon). Maybe it's make sense to swtich to it? Note that it uses flow types syntax, so it makes sense to add their `.babelrc` and missing plugins to our build.

[2016-05-25 10:48] churkin commented on #591
I could not reproduce the problem at the pure acorn v3.1.0. It looks like hammerhead acorn version does not match the real v3.1.0. @LavrovArtem

[2016-05-25 11:46] #571 closed

[2016-05-26 08:16] #477 closed

[2016-05-26 08:37] LavrovArtem commented on #591
I'm working on this

[2016-05-26 10:36] inikulin opened #600 "Expose `isScriptProcessed` method, rename `wrapDomAcessors` to `processScript`"
Required for https://github.com/DevExpress/testcafe/issues/524

[2016-05-26 10:54] #600 closed

[2016-05-26 11:14] miherlosev opened #602 "Fetch Sandbox: Fetch Sandbox: should reject request promise for non-existing url"
Without hammerhead an error is raised.
[code]

With hammerhead an error isn't raised.
[code]

[2016-05-26 11:16] miherlosev commented on #602
I'm working on this

[2016-05-26 12:05] LavrovArtem commented on #591
I created issue on acorn https://github.com/ternjs/acorn/issues/416.

[2016-05-26 12:05] LavrovArtem commented on #591
I removed the http://elementy.ru site from Health Monitor, after fixing this issue it needs to return it back.

[2016-05-26 12:55] inikulin commented on #591
Why? We have an issue and it's not fixed. Why hide it?

[2016-05-26 13:00] inikulin commented on #591
Also, I still vote for switching to Babylon: e.g. acorn doesn't have support for `async` functions, but both Edge and IE landed support in their dev versions. So we will see them in the wild soon.

[2016-05-26 13:02] inikulin commented on #591
\cc @churkin @LavrovArtem

[2016-05-26 13:15] LavrovArtem commented on #591
Are there any speed tests acorn and babylon?

[2016-05-26 13:18] inikulin commented on #591
Babylon is basically a fork of acorn.

[2016-05-26 14:06] churkin commented on #591
@LavrovArtem let's try

[2016-05-26 14:35] miherlosev opened #604 "Web Platform Test: Hung on http://w3c-test.org/dom/events/Event-dispatch-redispatch.html"

[2016-05-26 14:35] miherlosev commented on #604
I'm working on this

[2016-05-26 15:01] inikulin commented on #604
Is this a regression?

[2016-05-26 15:41] miherlosev commented on #604
Yes, it is. On hammerhead 7.0 all works good.

[2016-05-26 16:14] inikulin commented on #604
Why HHM doesn't show it then?

[2016-05-27 08:53] miherlosev commented on #604
Problem is performed becasue page has `meta` tag with wrong encoding attribute value:
[code]

[2016-05-27 09:03] miherlosev commented on #604
Regression after https://github.com/DevExpress/testcafe-hammerhead/pull/555

[2016-05-27 09:36] miherlosev commented on #604
Browser ignore `meta` with wrong encoding name. We wil do same.

[2016-05-27 09:47] #602 closed

[2016-05-27 11:40] #604 closed

[2016-05-27 14:37] #591 closed

[2016-05-30 09:58] miherlosev opened #608 "Bad Request error after opening http://www.trovigo.com in playground"
also see health monitor error - https://testcafe-hhhm.devexpress.com/history?timestamp=1464548693473&siteUrl=http://www.trovigo.com/

[2016-05-30 10:08] miherlosev opened #609 "Infinite page loading for http://www.milliyet.com.tr/ (in playground)"
see video http://screencast.com/t/zGmW5Qkc

[2016-05-30 10:47] miherlosev commented on #608
I'm working on this

[2016-05-30 11:03] churkin commented on #609
I'm working on this

[2016-05-30 14:32] miherlosev commented on #608
waiting for resolution of the https://github.com/nodejs/node/issues/7063

[2016-05-30 15:05] miherlosev commented on #608
In some cases browser fixes wrong url.
For example (output from browser console):
[code]

We will do same.

[2016-06-01 10:33] #608 closed

[2016-06-02 08:10] miherlosev commented on #498
FetchBarrier was completed - https://github.com/DevExpress/testcafe/pull/570

[2016-06-02 08:10] #498 closed

[2016-06-02 15:24] georgiy-abbasov opened #614 "Hammerhead doesn't process 'svg' element and it child nodes."
It's reproduced in the playground:

1) open next page in the playground.
[code]
2) evaluate next expressions in the console:
`document.getElementsByTagName('h1')[0].dispatchEvent.toString() //returns overriden function`
`document.getElementsByTagName('svg')[0].dispatchEvent.toString() //returns original function`
`document.getElementsByTagName('circle')[0].dispatchEvent.toString() //returns origin

[2016-06-02 15:58] #609 closed

[2016-06-03 08:30] miherlosev commented on #247
I'm working on this

[2016-06-03 13:13] miherlosev opened #616 "DomProcessor._isOpenLinkInIframe work wrong with named top window"
Markup for reproduce:

[code]

After proxing the `action` will have `http://<proxy-host-name>/<sessionId>!if/<siteUrl>` value.
It means that form is placed inside iframe. It is wrong.
Url should contains only `f` resource type letter.

[2016-06-03 13:14] miherlosev commented on #616
I'm working on this

[2016-06-03 13:23] LavrovArtem opened #617 ""Uncaught ReferenceError: $ is not defined" on mercadolibre.com.ar"
This error occurs on every second page load only in Crome.

[2016-06-03 14:30] LavrovArtem opened #618 "We clutter the window object"
parentHammerhead:
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/utils/html.js#L20
script:
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/utils/html.js#L25
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/processing/resources/page.js#L15

[2016-06-03 14:31] LavrovArtem commented on #618
I'm working on this

[2016-06-04 07:25] AlexanderMoskovkin opened #620 "The href of a link processsed incorrectly in an iframe without src if it is set from the main window"
There is an iframe

[code]

If I create a link inside the iframe in the following way:

[code]

the link has processed href without the `iframe` flag. As I result, when I click on it, the new page in the iframe has `task.js` script instead of `iframe-task.js`.

If I do it in the other way:

[code]

it works ok in chrome and ie, but still broken in firefox.

[2016-06-06 11:27] inikulin opened #621 "Code instrumentation window properties should be defined as non-enumerable and non-configurable"
Properties like https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/code-instrumentation/index.js#L38 should be defined this way https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/index.js#L166

I wonder if there will be any negative performance impact.

[2016-06-06 13:40] #384 closed

[2016-06-07 07:24] #618 closed

[2016-06-07 08:22] miherlosev opened #623 "Problem with test 'form.submit' in test\client\fixtures\sandbox\node\methods-test.js"
see video http://screencast.com/t/gsdvHX8OUfDN
Reproduced only in last GoogleChrome 51.0.2704.84

[2016-06-07 08:23] miherlosev commented on #623
I'm working on this

[2016-06-07 08:44] miherlosev commented on #247
Waiting for https://github.com/DevExpress/testcafe-hammerhead/issues/623

[2016-06-07 09:58] LavrovArtem opened #625 "The col tag is incorrectly wrapped in the processHtml function"
Before the HTML is processed, the self-closing `col` tag is wrapped as follows:
`<col/> -> <fake_tag_name_col/>`
But `fake_tag_name_col` is not self-closing, so that the markup gets broken in IE.

[2016-06-07 09:59] LavrovArtem commented on #625
I'm working on this

[2016-06-07 10:06] georgiy-abbasov commented on #625
Adding to the previous comment: it's reproduced in the playground on https://demos.devexpress.com/MVCxPivotGridDemos/SampleReports/SampleReports, so it affects ASP tests.

[2016-06-07 11:00] miherlosev commented on #247
We should not waiting for #623 because on saucelab's machine is installed the non-latest Google Chrome version - 51.0.2704.63
![untitled](https://cloud.githubusercontent.com/assets/4133518/15855371/d1453718-2cb7-11e6-811f-78a7ca3f9b64.png)

For now, the latest Google Chrome version - 51.0.2704.84.

[2016-06-07 11:01] miherlosev commented on #621
I'm working on this.

[2016-06-07 11:16] miherlosev commented on #621
Also we should mark all hammerhead specific window properties as non-enumerable, non-configurable and non-writable.
For example:
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/backup.js#L11
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/iframe.js#L84
etc.

[2016-06-07 11:36] inikulin opened #626 "Wrap processed stylesheets"
Currently we processed scripts covered with processing comments:
[code]

but for stylesheets we have only header:
[code]

Can we have same type of wrapper for stylesheets? Also can you expose prefix and postfix comment constants in client API for hammerhead? It's extremely urgent for https://github.com/DevExpress/testcafe/issues/574

[2016-06-07 11:44] inikulin commented on #626
Nevermind

[2016-06-09 08:34] #626 closed

[2016-06-09 10:20] #625 closed

[2016-06-14 13:57] #623 closed

[2016-06-16 09:36] miherlosev opened #632 "Multiple errors for document.write tests"
Steps to reproduce:
1)Open https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/fixtures/sandbox/node/document-write-test.js
2)After each `write` or `writeln` statement one setup the comparison the native document write result and our write result. See code snippet below:
[code]
3)You will get a lot of assertion errors.

[2016-06-17 12:24] miherlosev opened #633 "Append INSTRUCTION.getStorage to the script processing header"

[2016-06-22 08:21] georgiy-abbasov opened #634 "Typo in hammerhead.EVENTS"
There should be `unload` instead of `upload`.
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/index.js#L34

[2016-06-22 08:36] miherlosev commented on #634
I'm working on this

[2016-06-22 08:42] miherlosev commented on #633
I'm working on this

[2016-06-22 10:53] georgiy-abbasov opened #637 "Uncaught RangeError: "Maximum call stack size exceed" on http://www.walmart.com/ (in playground)"
As result, page is infinitely loading
http://screencast.com/t/6UPSXmAiX

[2016-06-22 11:02] miherlosev commented on #637
Script error `cdn-test.min.js:1 Uncaught SyntaxError: Unexpected token <<` presents on `walmart.com` without hammerhead.
But `hammerhead` should not fail with `Uncaugth error: Maximum call stack size exceed`.

[2016-06-22 11:31] #634 closed

[2016-06-22 12:37] #633 closed

[2016-06-22 14:04] miherlosev commented on #637
I'm working on this

[2016-06-23 11:13] miherlosev commented on #614
I'm working on this

[2016-06-24 14:22] inikulin opened #640 "Location assignment doesn't work"
Run in playground:
[code]

Clicking `btn` doesn't change location. I'm surprised we didn't encountered it yet. Also, it's worth checking other properties that instrumented the way location does. BTW, replacing `location` with `document.location` or `window.location` works just fine.

[2016-06-27 07:16] miherlosev commented on #640
I'm working on this

[2016-06-27 08:09] miherlosev commented on #640
If `location` object passed as a function argument then redirect don't perfom.

[2016-06-27 09:11] LavrovArtem commented on #632
I'm working on this

[2016-06-28 09:57] miherlosev opened #642 "The wrong processing of destructuring"
If `location` declared inside function or passed as function parameter we should not process it.
It needs for fix https://github.com/DevExpress/testcafe-hammerhead/issues/640#issuecomment-228679853

**Update!** The origin issue was transfered to https://github.com/DevExpress/testcafe-hammerhead/issues/2283

[2016-06-28 10:09] #614 closed

[2016-06-28 14:03] miherlosev commented on #642
I'm working on this

[2016-06-29 09:22] miherlosev opened #643 "Recently http://moz.com hung up in playground"
Reproduced locally and in health monitor.

[2016-06-29 09:31] miherlosev opened #644 "Script error for http://www.sahibinden.com/ after proxing"
See https://testcafe-hhhm.devexpress.com/history?timestamp=1467140702957&siteUrl=http://www.sahibinden.com.
Reproduced in playground.

[2016-06-29 09:33] #247 closed

[2016-06-29 12:28] inikulin opened #645 "`navigateTo` doesn't work if current location is `about:blank`"
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/index.js#L156

[2016-06-29 12:45] miherlosev commented on #645
I'm working on this

[2016-06-30 10:00] inikulin opened #647 "JavaScript error on login on http://internal.devexpress.com/okr"

[2016-06-30 14:04] inikulin opened #650 "https://www.xenarius.net designer doesn't load"

[2016-06-30 17:40] inikulin opened #651 "Sign in to the TravisCI via playground doesn't work"

[2016-07-01 10:58] miherlosev commented on #650
I'm working on this

[2016-07-01 13:13] miherlosev commented on #650
Xenarius designer - https://app.xenarius.net/

Cann't reproduce.
See video -  http://screencast.com/t/9qNa6i6WNw2c

[2016-07-01 13:13] #650 closed

[2016-07-01 13:13] miherlosev commented on #651
I'm working on this

[2016-07-04 07:21] churkin commented on #647
https://github.com/DevExpress/testcafe-hammerhead/pull/652

[2016-07-04 07:21] #647 closed

[2016-07-04 10:56] LavrovArtem opened #654 "The browser's open file dialog is not suppressed"
see T394838

[2016-07-04 10:57] LavrovArtem commented on #654
I'm working on this

[2016-07-04 12:13] #654 closed

[2016-07-04 15:19] #645 closed

[2016-07-05 13:36] #621 closed

[2016-07-05 13:45] miherlosev opened #657 "Very slow proxing for http://www.answers.com"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467659469614&siteUrl=http://www.answers.com/.
It happens because we cyclically send `set-cookie` service message. (see video - http://screencast.com/t/vBYd5NfW3j).
Need to investigate why we do this.

[2016-07-05 14:05] miherlosev opened #658 "Script error for http://www.ehow.com/"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467659469614&siteUrl=http://www.ehow.com/

Reproduced in playground.

[2016-07-05 14:10] miherlosev opened #659 "Script error for https://www.getresponse.ru/"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467659469614&siteUrl=http://www.getresponse.ru/

Reproduced in playground.

[2016-07-05 14:17] miherlosev opened #660 "Proxing of the http://www.shutterstock.com/ is hung up"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467659469614&siteUrl=http://www.shutterstock.com/

Possible reason - getting `about:blank` page for cross-domain page.
![untitled](https://cloud.githubusercontent.com/assets/4133518/16587622/398695e2-42d4-11e6-9284-f5ee6c48586f.png)

[2016-07-05 14:19] miherlosev commented on #657
Same behaviour - `http://www.usatoday.com/`

[2016-07-06 07:04] #640 closed

[2016-07-06 07:05] churkin commented on #659
I'm working on it

[2016-07-06 08:57] LavrovArtem commented on #617
I'm working on this

[2016-07-06 09:27] churkin commented on #659
Сookie validation problem:

`"param=value; domain=.ru"` must not be valid for the `www.getresponse.ru`

[2016-07-06 09:28] churkin commented on #658
I'm working on it

[2016-07-06 09:30] miherlosev opened #661 "'Access-Control-Allow-Origin' header is removed from destination response"
![untitled](https://cloud.githubusercontent.com/assets/4133518/16613577/6fd6749a-4375-11e6-8498-5ca4505797bf.png)

[2016-07-06 10:16] LavrovArtem commented on #617
jQuery loads via a cross-domain xhr that fails on every other page load. At the first load, xhr responds with 200 status code and with the `Access-Control-Allow-Origin:*` header. At the second load, xhr responds with 304 status code and without an `Access-Control-Allow-Origin` header. In the second case, we check `sameOriginPolicy` and send the `same origin failed` status code. I think that we sho

[2016-07-06 11:16] LavrovArtem commented on #617
1) Without errors 2) I'm searching

[2016-07-06 12:51] churkin commented on #658
Reproduced on the original site

[2016-07-06 12:51] #658 closed

[2016-07-06 12:52] churkin commented on #644
I'm working on it

[2016-07-07 11:16] miherlosev commented on #651
There is the following code from https://travis-ci.org/ :
[code]
Request to "https://third-party-cookies.herokuapp.com/set" is used to set up `cookie`.
![Console](https://cloud.githubusercontent.com/assets/4133518/16651547/516c8bec-444d-11e6-8aaf-c1d3c3cb3dc4.png)

As we don't proxy an `img` src attribute value, the request doesn't go through proxy, so the proxy server doesn't know that `cookie` h

[2016-07-07 11:21] miherlosev commented on #660
I'm working on this

[2016-07-07 13:22] inikulin commented on #651
@churkin

If `img` has `onload` hander - take it through proxy. I believe we can even do it only for dynamically created images.

[2016-07-07 14:29] churkin commented on #651
@inikulin in this case, a src is setted before the load handler assigned

[2016-07-07 15:02] churkin commented on #659
@inikulin  We need to client version of the `tough-cookie` to take into account public suffix list.

[2016-07-07 15:05] churkin commented on #644
We have the following code on the site:

[code]
[code]
[code]

In this case base tag is not considered

[2016-07-07 15:05] churkin commented on #644
@LavrovArtem What do you think?

[2016-07-08 07:53] miherlosev commented on #651
There is an another idea: if url for `src` has not extention we should create proxy url and direct request through proxy.
What do you think?

[2016-07-08 08:38] inikulin commented on #617
@LavrovArtem I'd like to see what spec proposes

[2016-07-08 08:41] miherlosev opened #665 "Script error for http://digg.com/"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467918418380&siteUrl=http://www.wp.pl/

Stack trace:
[code]

[2016-07-08 08:46] miherlosev opened #666 "Script error for http://www.wp.pl"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1467918418380&siteUrl=http://www.wp.pl/

Stack trace:
[code]

[2016-07-08 08:49] miherlosev commented on #665
Reproduced not stable.

[2016-07-08 08:51] inikulin commented on #651
What do you think?

I think it's not that reliable. Because this thing could be done with extension. E.g. 1-pixel images often used for tracking.

[2016-07-08 08:55] AlexanderMoskovkin opened #667 "Raise an event when the page is really going to be unloaded"
Now hammerhead raises the `beforeUnload` event when the document raises it. But sometimes the page is not unloaded after this. For example:

1)

[code]

2) When we click on the link and it leads to file downloading, `beforeUnload` is raised too, but the page is not unloaded.

[2016-07-08 09:08] miherlosev opened #668 "Script errors for http://www.freelancer.com/"
see [video](http://screencast.com/t/PdbHuVTdFDy) for reproduce.

[2016-07-08 09:13] miherlosev opened #669 "Script errors for http://www.quikr.com/"
Possible regression from https://github.com/DevExpress/testcafe-hammerhead/commit/8bf0072371fb1b4e3572634db0380c4ad5caa88e

![Stack trace](https://cloud.githubusercontent.com/assets/4133518/16682844/3bcc4b34-4505-11e6-88c7-b3b51a273355.png)

[2016-07-08 09:13] LavrovArtem commented on #617
[Caching in HTTP](https://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html)
[Cross-Origin Resource Sharing](https://www.w3.org/TR/cors/)
[XMLHttpRequest](https://xhr.spec.whatwg.org/)

[2016-07-08 09:34] AlexanderMoskovkin opened #670 "nativeMethods.performanceNow throw an error in IE9"

[2016-07-08 09:34] AlexanderMoskovkin commented on #670
I'm working on this

[2016-07-08 09:39] inikulin commented on #617
@LavrovArtem Can you show what exactly spec suggests?

[2016-07-08 10:41] miherlosev commented on #651
Final decision:
If `img` has load handler (img.onload, img.addEventListener, img.attachEvent) then we should create proxy url for `src` attribute value.

[2016-07-08 11:34] #670 closed

[2016-07-11 09:44] AlexanderMoskovkin opened #672 "Hammerhead doesn't inject scripts into an iframe on iOS 9.3"
I have a simple page that contains a same-domain iframe:
[code]

As a result this iframe has the following markup in Safari on iOS 9.3 with hammerhead playground:
[code]

[2016-07-11 10:49] miherlosev commented on #672
I'm working on this

[2016-07-11 11:24] miherlosev commented on #672
Problem occurs because you check the scenario in simulator.
It is characteristic of the playground.
Hammerhead scripts are resolved with `localhost` hostname and don't loaded (see errors in Network tab).
Change `localhost` to your IP ([one](https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/playground/server.js#L40), [two](https://github.com/DevExpress/testcafe-hammerhead))/blob/ma

[2016-07-11 11:24] #672 closed

[2016-07-12 13:15] AlexanderMoskovkin commented on #672
The issue is still reproduced with this changes.
But I've investigated the issue and found out that it happens because of the [bug in iOS 9.3](https://bugs.webkit.org/show_bug.cgi?id=155754). Browser sends a request for an iframe page with `header['accept']= '*/*'` instead of `text/html`. As a result we set the `isPage` flag to `false`[here](https://github.com/DevExpress/testcafe-hammerhead/blob/m

[2016-07-12 14:23] miherlosev commented on #669
I'm working on this

[2016-07-13 08:34] miherlosev commented on #668
I'm working on this.

[2016-07-13 09:24] miherlosev opened #676 "Try to use browser benchmark for hammerhead testing"
There are many browser benchmarks:
acid3 - http://acid3.acidtests.org/
html5test - http://html5test.com
base mark - http://web.basemark.com
V8 Benchmark Suite - http://www.netchain.com/Tools/v8/

Then I run these benchmarks under playground I getting a lot of different errors (console errors, different scope value, different test result, etc).
Need to do:
1)Fix all errors
2)Add these benchmarks to

[2016-07-13 09:50] inikulin commented on #676
We should them to CI then, not to health monitor.

[2016-07-13 11:48] churkin commented on #667
There are several ways to 'reload'/'load new' page:

- [ ]  Change `location` object:

  - `location.href = ...`
  - `location = ...`
  -  `window.location/document.location = ...`
  - `location.assing(...)`
  - `location.replace(...)`
  - `location.reload(...)`
  - `location.port = ...`
  - `location.host = ...`
  - `location.hostname = ...`
  - `location.pathname = ...`
  - `location.protocol =

[2016-07-13 12:39] miherlosev commented on #668
Site using SystemJS module loader (https://github.com/systemjs/systemjs).
Module loader uses path '/' for module loading.
We calculate wrong url for modules.
Simple example in progress...

[2016-07-14 08:15] LavrovArtem commented on #644
I'm working on this

[2016-07-14 11:45] miherlosev commented on #668
Site performs xhr request to the cross-domain url - `https://cdn2.f-cdn.com/build/modules/login-signup-be79c24bec357faaeb956cc7ab5bb12a.js`.
On first request the server respond the `Access-Control-Allow-Origin` header, but on second and next requests the server doesn't respond `Access-Control-Allow-Origin` header.
But this header is getting from browser cache and request pass CORS and performs wit

[2016-07-14 11:48] LavrovArtem commented on #668
I'm think it duplicate of https://github.com/DevExpress/testcafe-hammerhead/issues/617

[2016-07-14 12:18] LavrovArtem commented on #667
Another way to reload the page after a specified number of seconds:
[code]

[2016-07-14 12:50] miherlosev commented on #668
Yes. It is.

[2016-07-14 12:50] #668 closed

[2016-07-14 12:54] churkin commented on #667
@LavrovArtem Good remark

[2016-07-14 12:59] miherlosev commented on #666
I'm working on this

[2016-07-14 13:06] miherlosev commented on #666
Waiting for merge https://github.com/DevExpress/testcafe-hammerhead/pull/675

[2016-07-14 13:30] inikulin commented on #667
BTW, we don't need to know that page will really be unloaded, we just need to signal possibility of unloading (we can enable waiting heuristic then and wait for unload). JFYI, maybe it will simplify things for you somehow.

[2016-07-14 13:52] churkin opened #678 "Rename Hammerhead.EVENTS.xhrSend, Hammerhead.EVENTS.fetchSend to ...Sent"

[2016-07-14 15:13] miherlosev commented on #665
Dublicate of https://github.com/DevExpress/testcafe-hammerhead/issues/669

[2016-07-14 15:13] #665 closed

[2016-07-14 15:16] miherlosev commented on #676
I'm working on this

[2016-07-15 09:50] miherlosev opened #679 "'Uncaught TypeError: Cannot redefine property: %hammerhead% '"
Script error `Uncaught TypeError: Cannot redefine property: %hammerhead%` after calling `document.close` for same-domain iframe.

[2016-07-15 09:50] miherlosev commented on #679
I'm working on this

[2016-07-15 09:53] miherlosev commented on #676
Found bugs:
https://github.com/DevExpress/testcafe-hammerhead/issues/679

[2016-07-15 10:12] #669 closed

[2016-07-15 10:13] LavrovArtem commented on #589
I'm working on this

[2016-07-15 14:15] #632 closed

[2016-07-18 14:18] miherlosev commented on #666
Error is occured then script perform `document.body.innerHtml=<value>`for the `same-domain` window that places as `top window` -> `cross domain window` ->`same-domain window`.

[2016-07-18 15:06] LavrovArtem opened #684 "Html is processing incorrectly on the client side"
[code]

[2016-07-18 15:07] LavrovArtem commented on #684
I'm working on this

[2016-07-19 09:15] #644 closed

[2016-07-19 15:03] miherlosev opened #688 "Wrong processing result for `div.innerHtml=<p><header></header>`"
Without hammerhead:
`div.innerHTML = "<p><header></header>"`;
`div.innerHTML`
`<p></p><header></header>`

With hammerhead:
`div.innerHTML = "<p><header></header>"`;
`div.innerHTML`
`<p><header></header></p>`

Test code from http://html5test.com
Problem inside `htmlUtils.processHtml`

[2016-07-20 08:28] LavrovArtem commented on #688
I'm working on this

[2016-07-20 08:55] #684 closed

[2016-07-20 08:59] miherlosev opened #689 "FileListWrapper breaks some client code"
The following code is used to check browser support of the `input.files` property:
[code]

After proxying this check fails because `input.files` has FileListWrapper constructor.

[2016-07-20 09:29] #666 closed

[2016-07-20 09:52] miherlosev opened #690 "Operator 'instanceof' wrong work with Blob class"
Test code from http://html5test.com
[code]
Also we need to check all overriden constructors (Image, Worker, FontFace, etc)

[2016-07-20 10:23] miherlosev opened #691 "Hide hammerhead processing comments (style, script, processing header, etc) for client code"
In some very special cases we have different results with and without processing:

[code]

After processing `e.firstChild.firstChild.nodeValue =="/*hammerhead|stylesheet|start*/↵<!--↵/*hammerhead|stylesheet|end*/"`

[2016-07-20 13:29] miherlosev commented on #679
Not fully fixed.
On `load` event we write already overriden methods to the `nativeMethods`.
If further we perform action that uses `nativeMethods` we get a StackOverflow exeption.

[2016-07-20 13:41] miherlosev commented on #679
I'm working on this

[2016-07-21 15:33] #688 closed

[2016-07-21 15:41] LavrovArtem opened #695 "Problem with custom elements"
This test will fail because the element creation handler (`createdCallback`) will be called immediately after `document.registerElement`, because an instance of a `new-tag` element has already been created by this time during html processing.

[code]

[2016-07-22 09:30] miherlosev opened #696 "Add 'generateUniqueId' client function to the test utils"
see discussion https://github.com/DevExpress/testcafe-hammerhead/pull/694#discussion_r71847685
I think this function should be placed in `qunit-harness`.
@AlexanderMoskovkin

[2016-07-22 09:40] AlexanderMoskovkin commented on #696
I don't get how it relates to `qunit-harness`. As I understand - it just some util that generates some unique value. There are a lot of modules for this or create your small custom function (for example in the [before-test.js](https://github.com/DevExpress/testcafe-hammerhead/blob/master/test/client/before-test.js) file.

[2016-07-22 09:43] AlexanderMoskovkin commented on #696
in `qunit-harness` we place qunit staff, things that relate to running qunit tests on saucelabs and some complex common utils that is used in `testcafe-hammerhead` and `testcafe` client tests (as the `waitForIframe` function)

[2016-07-22 09:44] miherlosev commented on #696
`generateUniqueId` is a common qunit stuff, same as `waitForIframe`.

[2016-07-22 09:50] AlexanderMoskovkin commented on #696
you need this only in one `testcafe-hammerhead` test file. Why it's common?
as for me, `'test' + Date.now();` - is quite enough for tests

[2016-07-22 10:16] miherlosev commented on #696
Ok

[2016-07-25 10:33] helen-dikareva opened #698 "Error raised in beforeunload dialog handler in hammerhead"
This problem make tests failed in https://github.com/DevExpress/testcafe/pull/675
So please fix it ASAP if it possible

It reproduces only on SauceLab virtual machines:
`platform:    'OS X 10.11',
browserName: 'safari',
version:     '9.0'`
There isn't this problem on our Mac (OS 10.11.5 safari 9.1.1)
Error raised in _onBeforeUnloadHandler method: `Properties can only be defined on Objects`
Page fo

[2016-07-28 11:05] miherlosev opened #702 "Script error for https://www.yandex.ru/"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1469646333604&siteUrl=http://www.yandex.ru/

[2016-07-28 11:29] miherlosev opened #703 "domUtils.isIframeWithoutSrc returns wrong result after document.open in same-domain iframe"
see test for reproduce:
[code]

[2016-07-28 11:30] miherlosev commented on #679
Waiting for #703

[2016-07-28 11:31] miherlosev commented on #703
I'm working on this

[2016-07-28 14:40] miherlosev commented on #690
I'm working of this

[2016-07-29 11:02] miherlosev opened #706 "Script error for 'window.Worker' in IE9"
IE9 hasn't `window.Worker` property.

[2016-07-29 11:11] miherlosev commented on #706
I'm working on this

[2016-08-01 09:30] #690 closed

[2016-08-01 11:04] #706 closed

[2016-08-01 11:48] miherlosev commented on #702
After merge https://github.com/DevExpress/testcafe-hammerhead/pull/708 the error doesn't reproduce.

[2016-08-01 11:48] #702 closed

[2016-08-01 12:34] #689 closed

[2016-08-02 09:34] miherlosev opened #710 "Image slider doesn't load after proxing (http://rutube.ru/)"
Error from health monitor doesn't reproduce (see https://testcafe-hhhm.devexpress.com/history?timestamp=1470078316293&siteUrl=http://rutube.ru/).

See [video](http://screencast.com/t/PytVgH4K5Ee)

[2016-08-02 09:54] miherlosev opened #711 "404 errors for xhr request in https://twitter.com/"
See [video](http://screencast.com/t/2oFUay3HP)

[2016-08-02 10:11] miherlosev opened #712 "Script errors for http://www.samsung.com/uk/home/"
see [video](http://screencast.com/t/46sJkxtWB6QB)

[2016-08-02 11:01] miherlosev opened #713 "Uncaught RangeError: Maximum call stack size exceeded. for https://soundcloud.com/"
Steps to reproduce:
1)open the site in playground,
2)opens browser console
3)wait about 30 sec.

See [video](http://screencast.com/t/bfjuWspFT8k)

[2016-08-02 11:52] miherlosev commented on #679
For checking fix one need to use test №71 from http://acid3.acidtests.org/

[2016-08-02 15:21] LavrovArtem opened #714 "Wrong url processing in iframe without src when we change only location's hash"
Example page:
[code]

[2016-08-02 15:22] LavrovArtem commented on #714
I'm working on this

[2016-08-04 09:38] miherlosev opened #716 "Script error for window.EventSource for IE"
IE (9, 10, 11) hasn't `window.EventSource` property.

[2016-08-04 09:38] miherlosev commented on #716
I'm working on this

[2016-08-04 10:16] LavrovArtem opened #718 "The base url is incorrectly saved and restored in html utils"
We are losing the last slash in `http://example.com/path/path/`.

[2016-08-04 10:16] LavrovArtem commented on #718
I'm working on this

[2016-08-04 12:42] #718 closed

[2016-08-04 12:43] #716 closed

[2016-08-04 14:13] miherlosev commented on #710
I'm working on this

[2016-08-04 14:42] #714 closed

[2016-08-05 09:17] miherlosev commented on #710
Site resource `http://rutube.ru/static/js/main.js` doesn't processed on server side.

[2016-08-05 12:04] miherlosev commented on #710
Acorn raise exception for the following code:
[code]

[2016-08-05 12:12] inikulin commented on #710
Try to update it to the latest version

[2016-08-05 12:17] miherlosev commented on #710
Already in progress

[2016-08-05 13:20] #698 closed

[2016-08-05 13:25] #703 closed

[2016-08-05 14:03] miherlosev commented on #710
Reproduced in last `acorn` version - `3.3.0`.
I wrote the https://github.com/ternjs/acorn/issues/445

[2016-08-05 14:09] miherlosev commented on #711
I'm working on this

[2016-08-05 14:33] inikulin commented on #710
@miherlosev Can you edit the title for acorn issue and replace it with something more meaningful

[2016-08-05 14:38] miherlosev commented on #711
For reproduce one need to scroll to the bottom.

[2016-08-05 15:44] LavrovArtem opened #722 "Submit from a top window to a frame doesn't work"
Server for reproducing:

[code]

[2016-08-06 20:00] miherlosev commented on #710
Acorn bug was fixed. Waiting for a new version.

[2016-08-08 09:21] miherlosev commented on #711
Before proxing site loads contnet from https://video.twimg.com/ext_tw_video/762331094100377602/pu/pl/320x180/Gt65K6I9PG3tShu7.m3u8.
After proxing we loads content from http://localhost:1401/HJndkaHF/https://twitter.com/ext_tw_video/762551750972870656/pu/pl/320x180/HVD56iCVE0WJDAPX.m3u8.

[2016-08-08 10:01] miherlosev commented on #712
Cann't reproduce on https://github.com/DevExpress/testcafe-hammerhead/commit/ee7c4860be18144f5838947a993e07fe0693a95d commit

[2016-08-08 10:01] #712 closed

[2016-08-08 10:04] miherlosev commented on #713
I'm working on this

[2016-08-09 07:41] miherlosev opened #723 "Script errors for https://www.sahibinden.com"
see https://testcafe-hhhm.devexpress.com/history?timestamp=1470683160246&siteUrl=http://www.sahibinden.com/

[2016-08-09 11:59] LavrovArtem commented on #711
I'm working on this

[2016-08-10 08:07] miherlosev commented on #711
Twitter client code was changed.
Now, it does not contains the problem described above.

It has the problem with `XmlHttpRequest.responseURL`.

[2016-08-10 08:42] miherlosev opened #725 "Document.createNodeIterator should be overriden"
We should hide ShadowUI, hammerhead specific attributes, script and style processing comments.

see https://developer.mozilla.org/ru/docs/Web/API/Document/createNodeIterator

[2016-08-10 08:51] miherlosev commented on #723
Cann't repduce.

[2016-08-10 08:51] #723 closed

[2016-08-10 15:52] AlexanderMoskovkin opened #727 ""Permission denied" error is raised when an iframe with a nested iframe is reloaded"
The error is appeared in the `hammerhead.js` script. As a result the `window['%hammerhead%'] is undefined` error appeared in the `task.js` script (reproduced in IE11, IE9).

Create the following pages to reproduce the issue:

`page1.html`
[code]

`page2.html`
[code]

`page3.html`
[code]

Open `page1.html` in the `hammerhead-playground`. After the second the iframe is reloaded and  errors are appea

[2016-08-11 09:47] LavrovArtem opened #729 "A service message will not be send from iframe if it was unloaded"
see T413262

[2016-08-11 09:48] LavrovArtem commented on #729
I'm working on this

[2016-08-11 13:01] #729 closed

[2016-08-12 07:37] #679 closed

[2016-08-12 08:52] AlexanderMoskovkin opened #731 "The last input's value is not restored in window.history.back() was called"
The steps to reproduce:

[code]

Reproduced in Chrome and FF (Not reproduced in IE11. The value is "222" in both cases).

[2016-08-12 09:29] #727 closed

[2016-08-12 09:54] miherlosev commented on #713
Now `StorageEvent` is sent for all windows.
We should raise `StorageEvent` for all windows except current.
see https://html.spec.whatwg.org/multipage/webstorage.html#localStorageEvent.

Example:
[code]
Console output:
Without proxing
`StorageEvent in iframe window (test=1470995241809)`

With proxing
`StorageEvent in top window (test=1470995247480)`
`StorageEvent in iframe window (test=147099524748

[2016-08-13 06:21] #711 closed

[2016-08-16 07:22] LavrovArtem commented on #564
I'm working on this

[2016-08-16 12:33] miherlosev commented on #713
To fix this issue need to do following:
1)detect window which contains changed `localStorage`.
2)find all same-domain window except its.
3)dispatch events for all filtered windows.

But now, we cannot know what window contains changed localStorage, because all same-domain windows use the single  `StorageWrapper`.

[2016-08-16 12:36] miherlosev opened #735 "Instruction 'localStorage.setItem('lastState', '<some_value>')' corrupts the StorageWrapper"

[2016-08-16 12:36] miherlosev commented on #735
I'm working on this

[2016-08-16 14:54] miherlosev commented on #657
I'm working on this

[2016-08-17 08:22] miherlosev opened #738 "Site http://www.yelp.com/ hungs up after proxing"
Problem resource:
![untitled](https://cloud.githubusercontent.com/assets/4133518/17729426/d993c78a-646c-11e6-98ff-1037eae512bd.png)

[2016-08-17 08:28] miherlosev commented on #657
Same for https://www.usps.com/.
Sometimes, this site hungs.
See https://testcafe-hhhm.devexpress.com/history?timestamp=1471374341665&siteUrl=https://www.usps.com/